﻿
@{
    ViewBag.Title = "PIFW";
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
    var thisYear = DateTime.Now.Year;
    int timelineMax = 5;
    List<int> Year = new List<int>();
    thisYear = thisYear - 4;
    for (int i = 0; i < timelineMax; i++)
    {
        Year.Add(thisYear + i);
    }
    var index = 1;
    int yearData = DateTime.Now.Year;
    var piffUser = (PIRShoppingMall.data.sp_LoginPIFFs_Result)ViewBag.piffs;
    var movieScreening = (List<PIRShoppingMall.data.PIFFHeader>)ViewBag.PIFFData;
    List<string> EventDay = (List<string>)ViewBag.eventlistday;
    List<PIRShoppingMall.data.vw_PIFWEventList> EventList = (List<PIRShoppingMall.data.vw_PIFWEventList>)ViewBag.eventlist;
    string result = "";
    if (TempData["Result"].ToString() != null)
    {
        result = TempData["Result"].ToString();
    }
}
<link rel="stylesheet" href="~/res/css/bootstrap.min.css">
<section id="event-banner">
    <div class="container-fluid">
        <div class="event-slider owl-carousel">
            <img src="~/res/images/slider-homepage-March-Fix.jpeg" />
            @*<div class="item">

                    <div class="video-mask" onclick="stop_playing(this)"></div>
                    <iframe src="https://www.youtube.com/embed/@movieScreening.FirstOrDefault(x => x.PiffHeaderID == "ShortFilm").PiffYoutubeLink" allowfullscreen="" frameborder="0" width="100%" height="100%" style="position:absolute;top:0;left:0;"></iframe>
                    <img src="~/res/images/banner-dummy.jpg" style="position:relative;visibility:hidden;" alt="Plaza Indonesia Banner">
                </div>*@

        </div>
    </div>
</section>
<section id="event-wording">
    <div class="wording-title">
        Register to get the invitation
    </div>
    <form id="pifw2017" method="post" action="@Url.Action(MVC.PIFW.RegisterPIFW())" enctype="multipart/form-data">
        <div class="form-container input-name-wrapper">
            <input name="first_name" placeholder="First Name" required="" value="" type="text">
            <select name="show" required="">
                <option value="">Select A Show</option>
                @foreach (var item in EventDay)
                {
                    var sortedEvent = EventList.Where(x => x.EventDate == item);
                    <optgroup label="@item">
                        @foreach (var events in sortedEvent)
                        {
                            <option value="@events.EventID">@events.EventName</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
        <div class="form-container">
            <input name="last_name" placeholder="Last Name" value="" type="text">
            <input name="email" placeholder="Email" required="" value="" type="text">
        </div>
        <div class="form-container input-info-wrapper">
            <select name="age" required="">
                <option value="">Age</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                <option value="53">53</option>
                <option value="54">54</option>
                <option value="55">55</option>
                <option value="56">56</option>
                <option value="57">57</option>
                <option value="58">58</option>
                <option value="59">59</option>
                <option value="60">60</option>
                <option value="61">61</option>
                <option value="62">62</option>
                <option value="63">63</option>
                <option value="64">64</option>
                <option value="65">65</option>
                <option value="66">66</option>
                <option value="67">67</option>
                <option value="68">68</option>
                <option value="69">69</option>
                <option value="70">70</option>
                <option value="71">71</option>
                <option value="72">72</option>
                <option value="73">73</option>
                <option value="74">74</option>
                <option value="75">75</option>
                <option value="76">76</option>
                <option value="77">77</option>
                <option value="78">78</option>
                <option value="79">79</option>
                <option value="80">80</option>
                <option value="81">81</option>
                <option value="82">82</option>
                <option value="83">83</option>
                <option value="84">84</option>
                <option value="85">85</option>
                <option value="86">86</option>
                <option value="87">87</option>
                <option value="88">88</option>
                <option value="89">89</option>
                <option value="90">90</option>
                <option value="91">91</option>
                <option value="92">92</option>
                <option value="93">93</option>
                <option value="94">94</option>
                <option value="95">95</option>
                <option value="96">96</option>
                <option value="97">97</option>
                <option value="98">98</option>
                <option value="99">99</option>
                <option value="100">100</option>
            </select>
            <!--
            -->
            <input name="phone" placeholder="Phone" required="" value="" type="text">
            <!--
            -->
            
        </div>
        <div class="form-container ">
            <button type="submit">Submit</button>
        </div>
    </form>
    @Html.Hidden("result", result)
    <div class="modal" tabindex="-1" role="dialog" id="modalMsg">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close cls" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="textMsg"></p>
                    <br />
                </div>
                <div class="modal-footer">
                    <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/res/js/jquery-3.2.1.min.js"></script>
<script src="~/res/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        if ($("#result").val() != "") {
            if ($("#result").val() == "success") {
                $("#textMsg").text("Registration successful. Please check your email for the confirmation.");
            }
            else {
                $("#textMsg").text("We are sorry the show you have selected is full. Please select another show.");
            }
            $("#modalMsg").toggle();
        }
        $("#btnClose").click(function () {
            $("#modalMsg").toggle();
        })
        $(".cls").click(function () {
            $("#modalMsg").toggle();
        })
    })
</script>