﻿@model List<PIRShoppingMall.data.sp_getPiffData_Result2>
@{
    Layout = null;
    var thisYear = DateTime.Now.Year;
    int timelineMax = 5;
    List<int> Year = new List<int>();
    thisYear = thisYear - 4;
    for (int i = 0; i < timelineMax; i++)
    {
        Year.Add(thisYear + i);
    }
    //  var index = 1;
    int yearData = DateTime.Now.Year;
    //PIRShoppingMall.data.Subscribe subscribeData = (PIRShoppingMall.data.Subscribe)ViewBag.subscribe;
    //PIRShoppingMall.data.tabel_testDhal testdalData = (PIRShoppingMall.data.tabel_testDhal)ViewBag.testdal;
    //.Where(x => x.TypeEventID == 2).ToList()
    //var piffUser = (PIRShoppingMall.data.sp_LoginPIFFs_Result)ViewBag.piffs;
    //var movieScreening = (List<PIRShoppingMall.data.PIFFHeader>)ViewBag.PIFFData;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="Plaza Indonesia,Mall Jakarta,Plaza Indonesia Restaurant,Things to do in jakarta,Restoran di Jakarta">
    <title>Plaza Indonesia</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css">


    <link rel="stylesheet" href="~/res/css/font-awesome.min.css">
    <link href="~/res/js/slick-1.8.0/slick/slick.css" rel="stylesheet" />
    <link href="~/res/js/swiper-4.0.7/dist/css/swiper.css" rel="stylesheet" />
    @*<link href="~/res/js/slick-1.8.0/slick/slick-theme.css" rel="stylesheet" />*@
    <link href="~/res/js/slick-1.8.0/slick/custom-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/res/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/res/css/style.css?v=1.5">
    <link href="~/res/css/passwordCheck.css" rel="stylesheet" />
    <link href="~/res/js/Parsley.js-2.8.0/src/parsley.css" rel="stylesheet" />
    <!-- <script src="~/res/js/countdown.min.js"></script> -->
    <link href="~/res/js/MDB/css/mdb.css" rel="stylesheet" />
    <link href="~/res/js/MDB/css/bootstrap.min.css" rel="stylesheet" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68255636-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body style="padding-top:100px">
    <div class="mobile-menu-header">
        <div class="container">
            <div class="mmenu menu-bar visible-xs"><span class="fa fa-bars"></span></div>
            <nav class="mobile-menu">
                <ul>
                    @*<li><a href="~/index.html#home">Home</a></li>*@
                    @*<li class="wo">
                            <a>What`s Happening</a>
                            <ul class="sub-menu">
                                <li><a href="#events">Event</a></li>
                                <li><a href="~/event-archive.html">Event Archive</a></li>
                                <li><a href="#promo">Promotion</a></li>
                                <li><a href="#now-open">Now Open</a></li>
                            </ul>
                        </li>
                        <li><a href="#highlights">Highlights Of The Month</a></li>
                        <li><a href="~/highlights-archive.html">Highlights Archive</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="~/blog-archive.html">Blog Archive</a></li>
                        <li><a href="#privilege">Shopping Privileges</a></li>
                        <li><a href="#directory">Directory</a></li>
                        <li><a href="#contact">Contact Us</a></li>*@
                </ul>
                <div class="social-logo">
                    <a target="_blank" href="https://twitter.com/plazaindonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-twitter"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-facebook"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-instagram"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-google-plus"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </nav>
            <div class="social-logo hidden-xs">
                <a target="_blank" href="https://twitter.com/plazaindonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-twitter"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-facebook"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-instagram"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-google-plus"></span>
                        </div>
                    </div>
                </a>
            </div>
            <a href="http://www.plazaindonesia.com"><img class="main-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg"></a>
        </div>
    </div>
    @*<section id="menu" class="hidden-xs">
            <img class="affix-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg">
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <span class="separator">/</span>
                        <li class="wo">
                            <a href="#whats-happening">What's Happening</a>
                            <ul class="sub-menu">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="~/event-archive.html">Event Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li>
                            <a href="#highlights">Highlights Of The Month</a>
                            <ul class="sub-menu highlights">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="~/highlights-archive.html">Highlights Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li>
                            <a href="#blog">Blog</a>
                            <ul class="sub-menu blog">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="~/blog-archive.html">Blog Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li><a href="#privilege">Shopping Privileges</a></li>
                        <span class="separator">/</span>
                        <li><a href="#directory">Directory</a></li>
                        <span class="separator">/</span>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </section>*@
    <div class="container" style="margin-bottom: 60px;">
        <div class="row justify-content-md-center PIFF-Home">

            <div class="Home-item col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <div class="" style="width:100%; background-image: url('http://svrtestmix:90/Document/MasterEvent/29-Image.jpg');">
                    <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
                </div>
            </div>

            <div class="col-1 col-sm-0 col-xs-0">
                <div></div>
            </div>
            <div class="Home-Desc col-sm-12 col-md-5 col-lg-4 col-xl-4">
                <div class="title">MOVIE SCREENING</div>
                <div>
                    <p class="Describe">
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                        Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                        a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                    </p>
                    <p class="Describe">
                        Maecenas et faucibus est. Praesent id est felis. Nulla in libero auctor, blandit lorem vel, pellentesque neque.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae ornare dui,
                        vitae pharetra ligula. Suspendisse sodales euismod commodo. Nunc vitae suscipit turpis. Donec et urna ipsum.
                        Mauris tincidunt a mi vel tempus. Nullam et nibh a nunc scelerisque congue non ut sapien.
                        Phasellus consectetur ex vel pretium pulvinar. Donec id leo consectetur, dictum libero nec, tincidunt sapien.
                        Praesent eu porttitor turpis, non sodales diam. In lobortis, ex quis tristique interdum, erat nunc aliquet tortor,
                        ut efficitur nisl mi eu mauris.
                    </p>
                    <a role="button" class="btn btn-outline-primary btn-lg" href="@Url.Action(MVC.PIFF.PIFFMovie())" style="width:100%;" target="_self">SEE MOVIES</a>
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>


        <div class="row justify-content-md-center PIFF-Home">

            <div class="Home-item col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <div class="" style="width:100%; background-image: url('http://svrtestmix:90/Document/MasterEvent/29-Image.jpg');">
                    <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
                </div>
            </div>

            <div class="col-1 col-sm-0 col-xs-0">
                <div></div>
            </div>
            <div class="Home-Desc col-sm-12 col-md-5 col-lg-4 col-xl-4">
                <div class="title">WORKSHOP</div>
                <div>
                    <p class="Describe">
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                        Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                        a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                    </p>
                    <p class="Describe">
                        Maecenas et faucibus est. Praesent id est felis. Nulla in libero auctor, blandit lorem vel, pellentesque neque.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Aenean vitae ornare dui,
                        vitae pharetra ligula. Suspendisse sodales euismod commodo. Nunc vitae suscipit turpis. Donec et urna ipsum.
                        Mauris tincidunt a mi vel tempus. Nullam et nibh a nunc scelerisque congue non ut sapien.
                        Phasellus consectetur ex vel pretium pulvinar. Donec id leo consectetur, dictum libero nec, tincidunt sapien.
                        Praesent eu porttitor turpis, non sodales diam. In lobortis, ex quis tristique interdum, erat nunc aliquet tortor,
                        ut efficitur nisl mi eu mauris.


                    </p>
                    
                </div>
                <div>
                    <a role="button" class="btn btn-outline-primary btn-lg" href="@Url.Action(MVC.PIFF.PIFFMovie())" style="width:100%;" target="_blank">SEE WORKSHOP</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center PIFF-Home">

            <div class="Home-item col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <div class="" style="width:100%; background-image: url('http://svrtestmix:90/Document/MasterEvent/29-Image.jpg');">
                    <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
                </div>
            </div>

            <div class="col-1 col-sm-0 col-xs-0">
                <div></div>
            </div>
            <div class="Home-Desc col-sm-12 col-md-5 col-lg-4 col-xl-4">
                <div class="title">SUBMISSION</div>
                <div>
                    <p class="Describe">
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                        Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                        a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                    </p>
                    <p class="Describe">
                        Maecenas et faucibus est. Praesent id est felis. Nulla in libero auctor, blandit lorem vel, pellentesque neque.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae ornare dui,
                        vitae pharetra ligula. Suspendisse sodales euismod commodo. Nunc vitae suscipit turpis. Donec et urna ipsum.
                        Mauris tincidunt a mi vel tempus. Nullam et nibh a nunc scelerisque congue non ut sapien.
                        Phasellus consectetur ex vel pretium pulvinar. Donec id leo consectetur, dictum libero nec, tincidunt sapien.
                        Praesent eu porttitor turpis, non sodales diam. In lobortis, ex quis tristique interdum, erat nunc aliquet tortor,
                        ut efficitur nisl mi eu mauris.
                    </p>
                    <button type="button" class="btn btn-outline-primary btn-lg" style="width:100%;" data-toggle="modal" data-target="#exampleModal">SEE DETAILS</button>
                   @* <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg" data-toggle="modal" data-target="#exampleModal">*@

                    <br /><br /><br /><br />
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->

    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="col-12 modal-title text-center" id="exampleModalLabel">SUBMISSION RECUIREMENTS</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Lorem ipsum dolor sit amet, posidonium repudiandae disputationi in duo, dicta tractatos no mei.
                        Veri aeque possim et mel. Duis voluptua cu nam, aeterno signiferumque vel ne. Ad tempor mandamus mea.
                        Legere ancillae gubergren ne sit. Cetero recteque cotidieque ut eos.
                        <br />
                        <br />
                        <br />
                        Mea blandit patrioque no. Vix mollis prompta perfecto ne, eos an wisi periculis. Pri dico meis ne.
                        At aperiam delenit mei, audire quaeque salutatus eos ad. Cu qui eligendi persecuti liberavisse,
                        ad eos lorem euripidis rationibus. Mutat gloriatur inciderint at mei.
                        <br />
                        <br />
                        <br />
                        Ei per facilisis similique eloquentiam. Amet inani deseruisse eu eos, minimum suscipit vel et.
                        Ius in eruditi equidem constituam, no alia tation soluta sit. Usu decore facilisis in,
                        te his quod facilisi euripidis, ne duis vocent perpetua vim.

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>



    @*<div class="row justify-content-md-center">

            <section id="PIFF-Home">
                <section class="Home-item">
                    <div class="" style="background-image: url('http://svrtestmix:90/Document/MasterEvent/29-Image.jpg');">
                        <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
                    </div>
                </section>
                <section class="Home-Space">
                    <div class="">
                        <div></div>
                    </div>
                </section>
                <section class="Home-Desc">
                    <div class="title">WORKSHOP</div>
                    <div>
                        <p class="Describe">
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                            Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                            a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                        </p>
                        <p class="Describe">
                            Maecenas et faucibus est. Praesent id est felis. Nulla in libero auctor, blandit lorem vel, pellentesque neque.
                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae ornare dui,
                            vitae pharetra ligula. Suspendisse sodales euismod commodo. Nunc vitae suscipit turpis. Donec et urna ipsum.
                            Mauris tincidunt a mi vel tempus. Nullam et nibh a nunc scelerisque congue non ut sapien.
                            Phasellus consectetur ex vel pretium pulvinar. Donec id leo consectetur, dictum libero nec, tincidunt sapien.
                            Praesent eu porttitor turpis, non sodales diam. In lobortis, ex quis tristique interdum, erat nunc aliquet tortor,
                            ut efficitur nisl mi eu mauris.
                        </p>
                    </div>
                </section>
            </section>

        </div>
        <div class="row justify-content-md-center">*@


    @* <div class="col-sm col-md col-lg-5 col-xl-4" style=" display: inline-block;">
                <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
            </div>

            <div class="col-1">
                <div></div>
            </div>


            <div class="col-sm col-md-5 col-lg-4 col-xl-4">
                <div><h1>MOVIE SCREENING</h1>   </div>
                <div>
                    <p class="Describe">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                        Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                        a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                    </p>
                    <p class="Describe">
                        Maecenas et faucibus est. Praesent id est felis. Nulla in libero auctor, blandit lorem vel, pellentesque neque.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae ornare dui,
                        vitae pharetra ligula. Suspendisse sodales euismod commodo. Nunc vitae suscipit turpis. Donec et urna ipsum.
                        Mauris tincidunt a mi vel tempus. Nullam et nibh a nunc scelerisque congue non ut sapien.
                        Phasellus consectetur ex vel pretium pulvinar. Donec id leo consectetur, dictum libero nec, tincidunt sapien.
                        Praesent eu porttitor turpis, non sodales diam. In lobortis, ex quis tristique interdum, erat nunc aliquet tortor,
                        ut efficitur nisl mi eu mauris.
                    </p>
                    <button type="button" class="btn btn-outline-primary btn-lg" style="width:100%">SEE MOVIES</button>
                </div>
            </div>
        </div>
        <div class="row"><div class="col-12"><br /><br /></div></div>

        <div class="row justify-content-md-center">
            <div class="col-sm col-md col-lg-5 col-xl-4" style=" display: inline-block;">
                <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
            </div>

            <div class="col-1">
                <div></div>
            </div>

            <div class="col-sm col-md-5 col-lg-4 col-xl-4">
                <div><h1>WORKSHOP</h1>   </div>
                <div>
                    <p class="Describe">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                        Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                        a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                    </p>
                    <p class="Describe">
                        Maecenas et faucibus est. Praesent id est felis. Nulla in libero auctor, blandit lorem vel, pellentesque neque.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae ornare dui,
                        vitae pharetra ligula. Suspendisse sodales euismod commodo. Nunc vitae suscipit turpis. Donec et urna ipsum.
                        Mauris tincidunt a mi vel tempus. Nullam et nibh a nunc scelerisque congue non ut sapien.
                        Phasellus consectetur ex vel pretium pulvinar. Donec id leo consectetur, dictum libero nec, tincidunt sapien.
                        Praesent eu porttitor turpis, non sodales diam. In lobortis, ex quis tristique interdum, erat nunc aliquet tortor,
                        ut efficitur nisl mi eu mauris.
                    </p>
                    <button type="button" class="btn btn-outline-primary btn-lg" style="width:100%">SEE WORKSHOP</button>
                </div>
            </div>
        </div>

        <div class="row"><div class="col-12"><br /><br /></div></div>

        <div class="row justify-content-md-center">
            <div class="col-sm col-md col-lg-5 col-xl-4" style=" display: inline-block;">
                <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
            </div>

            <div class="col-1">
                <div></div>
            </div>

            <div class="col-sm col-md-5 col-lg-4 col-xl-4">
                <div><h1>SUBMISSION</h1>   </div>
                <div>
                    <p class="Describe">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                        Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                        a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                    </p>
                    <p class="Describe">
                        Maecenas et faucibus est. Praesent id est felis. Nulla in libero auctor, blandit lorem vel, pellentesque neque.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae ornare dui,
                        vitae pharetra ligula. Suspendisse sodales euismod commodo. Nunc vitae suscipit turpis. Donec et urna ipsum.
                        Mauris tincidunt a mi vel tempus. Nullam et nibh a nunc scelerisque congue non ut sapien.
                        Phasellus consectetur ex vel pretium pulvinar. Donec id leo consectetur, dictum libero nec, tincidunt sapien.
                        Praesent eu porttitor turpis, non sodales diam. In lobortis, ex quis tristique interdum, erat nunc aliquet tortor,
                        ut efficitur nisl mi eu mauris.
                    </p>
                    <button type="button" class="btn btn-outline-primary btn-lg" style="width:100%" data-toggle="modal" data-target="#SubmissionModal">SEE DETAILS</button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="SubmissionModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">SUBMISSION RECUIREMENTS</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!--<button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="row"><div class="col-12"></div><br /><br /></div>
            <div class="row"><div class="col-12"></div><br /><br /></div>
            <div class="row"><div class="col-12"></div><br /><br /></div>               *@
    @*  <section id="PIFF-Home">
                <div class="section-content">
                    <div class="PIFF-Home-container">
                        <div class="movie-item item">
                            <div class="movie-image" style="background-image: url('http://svrtestmix:90/Document/MasterEvent/29-Image.jpg');">
                                <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
                            </div>
                            <div class="title">The Lady in the Van</div>
                            <div class="created">Directed by Nicholas Hytner, 2015</div>
                            <a href="#" id="synoplink" style="color:red">
                                <div class="btnRegisMov" data-image="~/res/images/piffMay2017-the-lady-in-the-van.jpg" data-title="The Lady in the Van" data-created="Directed by Nicholas Hytner" data-synopsis="A man forms an unexpected bond with a transient woman living in her van that’s parked in his driveway.">Synopsis</div>
                            </a>
                            <div class="pick-group">
                                <div class="movie-date"> Wednesday, 17 May // 8.30PM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="PIFF-Home">
                <div class="section-content">
                    <div class="PIFF-Home-container">
                        <div class="Info-item">
                            <div class="title">The Lady in the Van</div>
                            <div class="created">Directed by Nicholas Hytner, 2015</div>
                            <a href="#" id="synoplink" style="color:red">
                                <div class="btnRegisMov" data-image="~/res/images/piffMay2017-the-lady-in-the-van.jpg" data-title="The Lady in the Van" data-created="Directed by Nicholas Hytner" data-synopsis="A man forms an unexpected bond with a transient woman living in her van that’s parked in his driveway.">Synopsis</div>
                            </a>
                            <div class="pick-group">
                                <div class="movie-date"> Wednesday, 17 May // 8.30PM</div>
                            </div>
                            <div class="movie-image" style="background-image: url('http://svrtestmix:90/Document/MasterEvent/29-Image.jpg');">
                                <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
                            </div>
                        </div>
                         <div class="col-sm-7">
                    <div class="col-sm-5" style="align-content:center">
                            <div class="button-RegisterMovie" data-event-id="1">Watch Movie</div>
                    </div>
                    </div>
                    </div>
                </div>
            </section>
        </div>
    *@
    @*<div class="row">
            <div class="col">
            </div>
            <div class="col" style="background-color:black">
                <img  src="~/res/images/piffMay2017-the-lady-in-the-van.jpg" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" alt="Responsive image">
            </div>
            <div class="col" style="background-color:yellow">
                <p></p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4" style="background-color:black;padding:0;margin:0;">
                <img src="~/res/images/Website-Movie-SCREENING.jpg" class="img-fluid" width="100%" alt="Responsive image">
            </div>
            <div class="col-4">
                <p></p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4">
                <img src="~/res/images/Website-Movie-SCREENING.jpg" class="img-fluid" width="70%" alt="Responsive image">
            </div>
            <div class="col-4">
                <p></p>
            </div>
            <div class="col">
            </div>
        </div>*@
    @*</div>*@

    <div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalQuickView">Launch modal</button>
        <!-- Modal: modalQuickView -->
        <div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <!--Carousel Wrapper-->
                                <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
                                                 alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
                                                 alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                                                 alt="Third slide">
                                        </div>
                                    </div>
                                    <!--/.Slides-->
                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <!--/.Carousel Wrapper-->
                            </div>
                            <div class="col-lg-7">
                                <h2 class="h2-responsive product-name">
                                    <strong>Product Name</strong>
                                </h2>
                                <h4 class="h4-responsive">
                                    <span class="green-text">
                                        <strong>$49</strong>
                                    </span>
                                    <span class="grey-text">
                                        <small>
                                            <s>$89</s>
                                        </small>
                                    </span>
                                </h4>

                                <!--Accordion wrapper-->
                                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                                    <!-- Accordion card -->
                                    <div class="card">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" id="headingOne1">
                                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                               aria-controls="collapseOne1">
                                                <h5 class="mb-0">
                                                    Collapsible Group Item #1 <i class="fas fa-angle-down rotate-icon"></i>
                                                </h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                             data-parent="#accordionEx">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                                squid. 3
                                                wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Accordion card -->
                                    <!-- Accordion card -->
                                    <div class="card">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" id="headingTwo2">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                               aria-expanded="false" aria-controls="collapseTwo2">
                                                <h5 class="mb-0">
                                                    Collapsible Group Item #2 <i class="fas fa-angle-down rotate-icon"></i>
                                                </h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                             data-parent="#accordionEx">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                                squid. 3
                                                wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Accordion card -->
                                    <!-- Accordion card -->
                                    <div class="card">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" id="headingThree3">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                               aria-expanded="false" aria-controls="collapseThree3">
                                                <h5 class="mb-0">
                                                    Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon"></i>
                                                </h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                             data-parent="#accordionEx">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                                squid. 3
                                                wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Accordion card -->

                                </div>
                                <!-- Accordion wrapper -->
                                <!-- Add to Cart -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <select class="md-form mdb-select colorful-select dropdown-primary">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="1">White</option>
                                                <option value="2">Black</option>
                                                <option value="3">Pink</option>
                                            </select>
                                            <label>Select color</label>

                                        </div>
                                        <div class="col-md-6">

                                            <select class="md-form mdb-select colorful-select dropdown-primary">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="1">XS</option>
                                                <option value="2">S</option>
                                                <option value="3">L</option>
                                            </select>
                                            <label>Select size</label>

                                        </div>
                                    </div>
                                    <div class="text-center">

                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary">
                                            Add to cart
                                            <i class="fas fa-cart-plus ml-2" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.Add to Cart -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div>
        <!-- Button trigger modal-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRelatedContent">
            Launch
            modal
        </button>

        <!--Modal: modalRelatedContent-->
        <div class="modal fade" id="modalRelatedContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading" style="text-align:center"><h2>Related article</h2></p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-5">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(55).jpg" class="img-fluid"
                                     alt="">
                            </div>

                            <div class="col-7">
                                <p><strong>My travel to paradise</strong></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit [...]</p>
                                <button type="button" class="btn btn-info btn-md">Read more</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: modalRelatedContent-->
    </div>


    <section id="footer">
        <div class="outer-footer">Copyright &copy;2019 Plaza Indonesia All Rights Reserved</div>
    </section>
    <script src="~/res/js/jquery-3.2.1.min.js"></script>
    <script src="~/res/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <script src="~/res/js/owl.carousel.min.js"></script>
    <script src="~/res/js/bootstrap-datepicker.min.js"></script>
    <script src="~/res/js/jquery.dotdotdot.min.js"></script>
    <script src="~/res/js/slick-1.8.0/slick/slick.min.js"></script>
    <script src="~/res/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/res/js/jquery.waypoints.min.js"></script>
    <script src="~/res/js/Parsley.js-2.8.0/dist/parsley.js"></script>
    @*<script src="~/res/js/scripts.js"></script>*@
    <script src="~/res/js/MDB/js/mdb.js"></script>
    <script src="~/res/js/MDB/js/mdb.min.js"></script>
    <script src="~/res/js/swiper-4.0.7/dist/js/swiper.min.js"></script>
    <script src="~/res/js/scripts-event.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        //$.LoadingOverlay("show");
        //$.LoadingOverlay("hide");

        $('#exampleModal').on('show.bs.modal', function (e) {
            var image = $(e.relatedTarget).attr('src');
            $(".img-responsive").attr("src", image);
        });
    })
</script>
