﻿@model List<PIRShoppingMall.data.sp_getPiffData_Result2>
@{
    Layout = null;
    var thisYear = DateTime.Now.Year;
    int timelineMax = 5;
    List<int> Year = new List<int>();
    thisYear = thisYear - 4;
    for (int i = 0; i < timelineMax; i++)
    {
        Year.Add(thisYear + i);
    }
    //    var index = 1;
    int yearData = DateTime.Now.Year;
    var piffWorkshopHeader = (PIRShoppingMall.data.vw_MasterTypeEvent)ViewBag.PIFFMasterdataWorkshop;
    //   var piffUser = (PIRShoppingMall.data.sp_LoginPIFFs_Result)ViewBag.piffs;
    //   var movieScreening = (List<PIRShoppingMall.data.PIFFHeader>)ViewBag.PIFFData;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="Plaza Indonesia,Mall Jakarta,Plaza Indonesia Restaurant,Things to do in jakarta,Restoran di Jakarta">
    <title>Plaza Indonesia</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/res/css/font-awesome.min.css">
    <link href="~/res/js/slick-1.8.0/slick/slick.css" rel="stylesheet" />
    <link href="~/res/js/swiper-4.0.7/dist/css/swiper.css" rel="stylesheet" />
    @*<link href="~/res/js/slick-1.8.0/slick/slick-theme.css" rel="stylesheet" />*@
    <link href="~/res/js/slick-1.8.0/slick/custom-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/res/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/res/css/style.css?v=1.5">
    <link href="~/res/css/passwordCheck.css" rel="stylesheet" />
    <link href="~/res/js/Parsley.js-2.8.0/src/parsley.css" rel="stylesheet" />
    @*<link href="~/res/js/MDB/css/mdb.css" rel="stylesheet" />
        <link href="~/res/js/MDB/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- <script src="~/res/js/countdown.min.js"></script> -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68255636-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body style="padding-top:70px">

    <div id="main-wrapper">

        <section id="menu" class="affix hidden-xs">

            <a href="http://www.plazaindonesia.com"><img class="affix-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg"></a>

            <div class="container">

                <nav>

                    <ul>

                        <li><a href="http://www.plazaindonesia.com/">Home</a></li>
                        <span class="separator">/</span>

                        <li>

                            <a href="#">What's On</a>

                            <ul class="sub-menu bot">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/#events">Event</a></li>

                                <li><a href="http://www.plazaindonesia.com/archive/event/2019/January">Event Archive</a></li>

                                <li><a href="http://www.plazaindonesia.com/#promo">Promotion</a></li>

                                <li><a href="http://www.plazaindonesia.com/#now-open">Now Open</a></li>

                                @*<li><a href="@Url.Action(MVC.PIFF.PIFFIndex())" target="_self">PIFF 2019</a></li>*@

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li>

                            <a href="http://www.plazaindonesia.com/#highlights">Highlights Of The Month</a>

                            <ul class="sub-menu bot highlights">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/archive/highlights/2019/January">Highlights Archive</a></li>

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li>

                            <a href="http://www.plazaindonesia.com/#blog">Blog</a>

                            <ul class="sub-menu bot blog">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/archive/blog/2019/January">Blog Archive</a></li>

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#privilege">Shopping Privileges</a></li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#directory">Directory</a></li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#contact">Contact Us</a></li>

                    </ul>

                </nav>

            </div>

        </section>
    </div>

    <div class="mobile-menu-header visible-xs">

        <div class="menu-bar visible-xs"><span class="fa fa-bars"></span></div>

        <nav class="mobile-menu">

            <ul>

                <li><a href="http://www.plazaindonesia.com/">Home</a></li>

                <li class="wo">

                    <a>What's On</a>

                    <ul class="sub-menu">

                        <li><a href="http://www.plazaindonesia.com/#events">Event</a></li>

                        <li><a href="http://www.plazaindonesia.com/archive/event/2019/January">Event Archive</a></li>

                        <li><a href="http://www.plazaindonesia.com/#promo">Promotion</a></li>

                        <li><a href="http://www.plazaindonesia.com/#now-open">Now Open</a></li>

                        @* <li><a href="@Url.Action(MVC.PIFF.PIFFIndex())" target="_self">PIFF 2019</a></li>*@
                    </ul>

                </li>

                <li><a href="http://www.plazaindonesia.com/#highlights">Highlights Of The Month</a></li>

                <li><a href="http://www.plazaindonesia.com/archive/highlights/2019/January">Highlights Archive</a></li>

                <li><a href="http://www.plazaindonesia.com/#blog">Blog</a></li>

                <li><a href="http://www.plazaindonesia.com/archive/blog/2019/January">Blog Archive</a></li>

                <li><a href="http://www.plazaindonesia.com/#privilege">Shopping Privileges</a></li>

                <li><a href="http://www.plazaindonesia.com/#directory">Directory</a></li>

                <li><a href="http://www.plazaindonesia.com/#contact">Contact Us</a></li>

            </ul>

            <div class="social-logo">

                <a target="_blank" href="https://twitter.com/plazaindonesia">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-twitter"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-facebook"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://instagram.com/plaza_indonesia/">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-instagram"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://plus.google.com/110195465192502798208/">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-google-plus"></span>

                        </div>

                    </div>

                </a>

            </div>

        </nav>

        <div class="social-logo hidden-xs">

            <a target="_blank" href="https://twitter.com/plazaindonesia">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-twitter"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-facebook"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://instagram.com/plaza_indonesia/">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-instagram"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://plus.google.com/110195465192502798208/">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-google-plus"></span>

                    </div>

                </div>

            </a>

        </div>

        <a href="http://www.plazaindonesia.com"><img class="main-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg"></a>


    </div>

    <div class="container" id="steplink"><a href="@Url.Action(MVC.PIFF.PIFFIndex())" target="_self" style="color:dodgerblue">PIFF 2019 </a> /  WORKSHOP </div>

    <div class="container" style="margin-bottom: 60px;" id="PIFF-Content">
        <div id="PIFF-Movie">
            <div class="row justify-content-md-center Movie-Row">
                <div class="Movie-item col-xs-12 col-sm-3">
                    <div class="Movie-image" style="background-image: url('~/Areas/Management/Assets/images/Piff2019/@piffWorkshopHeader.Image2');">
                        <img id="myImg" class="img-responsive" src="~/Areas/Management/Assets/images/Piff2019/@piffWorkshopHeader.Image2 ">
                    </div>
                </div>
                <div class="Movie-Desc col-xs-12 col-sm-9">
                    <div class="title">@piffWorkshopHeader.Title2 </div>
                    <div>
                        <p class="Describe">
                            <br />                           
                            @Html.Raw(piffWorkshopHeader.Information2)
                        </p>
                    </div>

                </div>

            </div>
        </div>


        <div id="movie-nowshowing">
            <div class="section-content">
                <div class="movie-nowshowing-container">
                    <div id="movieContent" class="movie-container">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Modal -->

    <div class="modal fade" id="MyModal1">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="col-12 modal-title text-left" id="exampleModalLabel">Booking Form</h1>
                    @*<div class='btnDescribeEvent' data-EventID="" data-title="" src="" data-image=""  data-created="" data-starring="" data-censorRate="" data-genre="" data-language="" data-subtitle="" data-duration="" data-videolink="" data-synopsis="">BOOK TICKETS</div>*@
                </div>
                <form>
                    <div class="modal-body">
                        <label class="control-label">
                            Ticket Amount
                        </label>
                        <br />
                        <div class="social-logo2">
                            <div class="item">
                                <div class="outer-wrapper-chosen" id="regis1">
                                    1
                                </div>
                            </div>

                            @*<div class="item">
                                    <div class="outer-wrapper" id="regis2">
                                        2
                                    </div>
                                </div>*@

                        </div>
                        <br />

                        <div id="formregis1" style="margin-bottom:30px">

                            <div id="formregisticket1" class="form-group">
                                <label class="control-label">
                                    TICKET 1
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Full Name
                                </label>
                                <span id="requiredRegisName" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisName" placeholder="Name" maxlength="100" />
                            </div>

                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="regisdate">
                                    Date of Birth
                                </label>
                                <span id="requiredregisdate" style="color:red;font-size:medium;"></span>
                                <input class="form-control" id="regisdate" name="date" placeholder="DD/MM/YYY" type="text" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    E-mail
                                </label>
                                <span id="requiredRegisMail" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisMail" placeholder="E-Mail" data-parsley-type="email" />
                                <span id="requiredRegisMailrgx" style="color:red;font-size:x-small;"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Mobile Phone
                                </label>
                                <span id="requiredRegisPhone" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisPhone" placeholder="Phone" maxlength="20" data-parsley-type="digits" />

                            </div>
                        </div>

                        <div id="formregis2">

                            <div class="form-group">
                                <label class="control-label">
                                    TICKET 2
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Full Name
                                </label>
                                <span id="requiredRegisName2" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisName2" placeholder="Name" maxlength="100" />
                            </div>

                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="date">
                                    Date of Birth
                                </label>
                                <span id="requiredregisdate2" style="color:red;font-size:medium;"></span>
                                <input class="form-control" id="regisdate2" name="date" placeholder="DD/MM/YYY" type="text" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    E-mail
                                </label>
                                <span id="requiredRegisMail2" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisMail2" placeholder="E-Mail" data-parsley-type="email" />
                                <span id="requiredRegisMailrgx2" style="color:red;font-size:x-small;"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Mobile Phone
                                </label>
                                <span id="requiredRegisPhone2" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisPhone2" placeholder="Phone" maxlength="20" data-parsley-type="digits" />

                            </div>
                        </div>
                        <p id="textMsg" style="color:red;font-size:small;"></p>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                        <button id="btnbookticket1" name="btnbookticket1person" type="button" data-event-id="" data-eventcode="WS" data-ticket="1" class="btnCustomColor">BOOK TICKET</button>
                        <!--<button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalSynop">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row"><img id="imgSynop" class="img-responsive" /></div>
                            <div class="row" style="margin-bottom:20px;">
                                <div class="social-logo2">
                                    <a target="_blank" href="https://twitter.com/intent/tweet?text=Get%20free%20PIFF%20ticket%20only%20at%20http://piff.plazaindonesia.com/PIFFWorkshop">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-twitter"></span>
                                            </div>
                                        </div>
                                    </a>
                                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpiff.plazaindonesia.com/PIFFWorkshop%2F&amp;src=sdkpreparse">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-facebook"></span>
                                            </div>
                                        </div>
                                    </a>
                                    @*<a target="_blank" href="https://www.instagram.com/p/Bs7VE-UghVl/">
                                            <div class="item">
                                                <div class="outer-wrapper">
                                                    <span class="fa fa-instagram"></span>
                                                </div>
                                            </div>
                                        </a>*@
                                    <a target="_blank" href="https://plus.google.com/share?url=www.plazaindonesia.com/PIFFWorkshop">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-google-plus"></span>
                                            </div>
                                        </div>
                                    </a>
                                    <a target="_blank" href="whatsapp://send?text=Get your free ticket for PIFF on http://www.plazaindonesia.com/PIFFWorkshop" data-action="share/whatsapp/share">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-whatsapp"></span>
                                            </div>
                                        </div>
                                    </a>

                                    <a onclick="ModalClipBoard()">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-share-alt"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6" id="booktiketsynop">
                            <div id="titleSynop"></div>
                            <div id="placeSynop" style="text-align:left;font-weight:bold"></div>
                            <div><a id="starDateNameSynop" style="text-align:left;font-weight:bold"></a>, <a id="starDateSynop" style="text-align:left;font-weight:bold"></a></div>
                            <div id="timeShowSynop" style="text-align:left;font-weight:bold"></div>

                            <br />
                            <br />
                            <div id="descSynop" style="padding-right:30px"></div>
                            <div style="padding-top:50px;"><button class="btnCustomColor" type="button" id='btnRegisMov' data-event-id="" data-title=""> REGISTER NOW</button></div>
                        </div>
                    </div>


                    @*<div class="row">
                            <div class="col-sm-6" style="margin-bottom:20px">
                                <iframe id="VideoLinkSynop" style="width:100%;height:auto;margin-top:5px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-sm-6">
                                <div id="StarringSynop" style="text-align:left;"></div>
                                <div id="DirectedBySynop" style="text-align:left;"></div>
                                <div id="CensorRateSynop" style="text-align:left;"></div>
                                <div id="GenreSynop" style="text-align:left;"></div>
                                <div id="LanguageSynop" style="text-align:left;"></div>
                                <div id="SubtitleSynop" style="text-align:left;"></div>
                                <div id="DurationSynop" style="text-align:left;"></div>
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">BOOK TICKETS </button>*@



                </div>
            </div>
        </div>
    </div>

    <!--modal clip board-->
    <div class="modal fade" id="MyModalClipboard">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="onclosed()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>Share this link to your friend </div>
                    <div style="margin-top:10px;margin-bottom:20px"><input type="text" style="width:100%;height:50px" id="TextShare"></div>
                    <div style="text-align:right;"><button class="btn btn-info" onclick="myFunctioncopytext()">Copy</button></div>
                </div>
            </div>
        </div>
    </div>

    <!--modal Success-->
    <div class="modal fade" id="MyModalSuccees">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="onclosed()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>Your request has been submitted. Kindly check your email for further information.</div>
                    <div style="text-align:right;"><button class="btn btn-info" data-dismiss="modal" aria-label="Close">OK</button></div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal Image Full Screen -->
    <div id="myModalimage" class="modalimage">

        <!-- The Close Button -->
        <span class="closeimage">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modalimage-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>


    @Html.Hidden("EventIDHidden", 0);


    <section id="footer">
        <div class="outer-footer">Copyright &copy;2019 Plaza Indonesia All Rights Reserved</div>
    </section>
    <script src="~/res/js/MDB/js/jquery-3.3.1.min.js"></script>
    <script src="~/res/js/bootstrap.min.js"></script>
    <script src="~/res/js/owl.carousel.min.js"></script>
    <script src="~/res/js/bootstrap-datepicker.min.js"></script>
    <script src="~/res/js/jquery.dotdotdot.min.js"></script>
    <script src="~/res/js/slick-1.8.0/slick/slick.min.js"></script>
    <script src="~/res/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/res/js/jquery.waypoints.min.js"></script>
    <script src="~/res/js/Parsley.js-2.8.0/dist/parsley.js"></script>
    @*<script src="~/res/js/scripts.js"></script>*@
    @*<script src="~/res/js/MDB/js/mdb.js"></script>*@
    @*<script src="~/res/js/MDB/js/mdb.min.js"></script>*@
    <script src="~/res/js/swiper-4.0.7/dist/js/swiper.min.js"></script>
    <script src="~/res/js/scripts-event.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    @*Facebook Share*@
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    @*Twitter Share*@
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>

    <script>
        // Get the modal
        var modal = document.getElementById('myModalimage');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeimage")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>

    @*Fullscreen image*@

    <script>
        // Get the modal
        var modal = document.getElementById('myModalimage');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeimage")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>

</body>
</html>
<script>
    $(document).ready(function () {

         //  $.LoadingOverlay("show");
        setTimeout(function () {
            getDataPIFF(@yearData);

            //mySwiper.init();

        }, 1000)
        $('.timeline-item:not(active)').on('click', function () {
            $('.timeline-item').removeClass('active');
            $(this).addClass('active');
            var yearVal = $(this)[0].innerText;
            getDataPIFF(yearVal);
        });


        function getDataPIFF(year) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action(MVC.PIFF.GetPIFFAjaxData())',
                data: JSON.stringify({ year: year }),
                dataType: 'JSON',
                contentType: 'application/json;',
                success: function (data) {
                    var containerMovie = $("#movieContent");
                    var containerCoach = $("#coachContent");
                    //remove prev element
                    containerMovie.children().empty();

                    var dateshowprint = null;
                    var statprint = 0;

                    //append new loaded element
                    $.each(data.workshopList, function (k, v) {
                        var total = data.workshopList.length;
                        var imageMovie = v.Image;
                        var activeMovie = "active";
                        if (k > 0) {
                            activeMovie = "";
                        }

                        if (dateshowprint == null) {
                            dateshowprint = v.StartDate;
                        }

                        if (dateshowprint == v.StartDate) {

                            if (statprint == 0) {
                                containerMovie.append(" <div class='movie-title col - 12 text - center' id='DateShowMovie' ><H3>" + v.StartDateDayName + ", " + dateshowprint + "</H3></div>");
                                statprint = 1;
                            }
                            //containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive' data-toggle='modal' data-target='#MyModal1' src='" + imageMovie + "' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='Directed by  " + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-synopsis='" + v.Description + "'></div></div>");
                            //containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive btnDescribeEvent'  src='" + imageMovie + "' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorRate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink +  "' data-synopsis='" + v.Description + "'></div></div>");
                            //containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive' src='" + imageMovie + "'></div><button id='btnBookTicketList' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorrate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink + "' data-synopsis='" + v.Description + "' data-stardatename='" + v.StartDateDayName + "' data-stardate='" + v.StartDate + "' data-timeshow='" + v.time + "' data-enddate='" + v.EndDateFormat + "'>Book Ticket</button></div>");
                            if (v.isActive == "Active") {
                                containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive' src='" + imageMovie + "'></div><button id='btnBookTicketList' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorrate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink + "' data-synopsis='" + v.Description + "' data-stardatename='" + v.StartDateDayName + "' data-stardate='" + v.StartDate + "' data-timeshow='" + v.time + "' data-btnbookticket='1'>Register Now</button></div>");
                            } else {
                                containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive' src='" + imageMovie + "'></div><button id='btnBookTicketList' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorrate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink + "' data-synopsis='" + v.Description + "' data-stardatename='" + v.StartDateDayName + "' data-stardate='" + v.StartDate + "' data-timeshow='" + v.time + "' data-btnbookticket='0'>Clinic Details</button></div>");
                            }
                            dateshowprint = v.StartDate;

                        } else if (v.StartDate != dateshowprint) {
                            dateshowprint = v.StartDate;
                            statprint = 0;
                            if (statprint == 0) {
                                containerMovie.append(" <div class='movie-title col - 12 text - center' id='DateShowMovie' ><H3>" + v.StartDateDayName + ", " + dateshowprint + "</H3></div>");
                                statprint = 1
                            }
                            //containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive btnDescribeEvent' src='" + imageMovie + "' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorRate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink + "' data-synopsis='" + v.Description + "'></div></div>");
                            //containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive' src='" + imageMovie + "'></div><button id='btnBookTicketList' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorrate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink + "' data-synopsis='" + v.Description + "' data-stardatename='" + v.StartDateDayName + "' data-stardate='" + v.StartDate + "' data-timeshow='" + v.time + "' data-enddate='" + v.EndDateFormat + "'>Book Ticket</button></div>");
                            if (v.isActive == "Active") {
                                containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive' src='" + imageMovie + "'></div><button id='btnBookTicketList' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorrate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink + "' data-synopsis='" + v.Description + "' data-stardatename='" + v.StartDateDayName + "' data-stardate='" + v.StartDate + "' data-timeshow='" + v.time + "' data-btnbookticket='1'>Register Now</button></div>");
                            } else {
                                containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive' src='" + imageMovie + "'></div><button id='btnBookTicketList' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorrate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink + "' data-synopsis='" + v.Description + "' data-stardatename='" + v.StartDateDayName + "' data-stardate='" + v.StartDate + "' data-timeshow='" + v.time + "' data-btnbookticket='0'>Clinic Details</button></div>");
                            }
                        }


                    });
                    var swiper = new Swiper('.swiper-container', {
                        slidesPerView: 'auto',
                        centeredSlides: false,
                        loop: true,
                        slidesPerGroup: 1,
                        spaceBetween: 50,
                        pagination: {
                            el: '.swiper-pagination',
                            type: 'bullets',
                            clickable: true
                        },
                        observer: true
                    });
                    setTimeout(function () {

                        //var mySwiper = document.querySelector('.swiper-container').swiper
                        //mySwiper.update(true);
                        $.LoadingOverlay("hide");
                        },4000)

                    if (year == @DateTime.Now.Year) {
                        containerCoach.children().remove();
                        $.each(data.movieClinic, function (k, v) {

                            var imageClinic = v.Image;
                            var activeClinic = "active";
                            if (k > 0) {
                                activeClinic = "";
                            }
                            containerCoach.append(" <div class='movie-item item " + activeClinic + "'style='padding-bottom:10px;'> <div class='movie-image' style='background-image:url(" + imageClinic + ");'><img class='img-responsive' src='" + imageClinic + "'></div><div class='title movClin'>" + v.EventName + "</div><div class='created movClin'></div><div class='pick-group'><div class='movie-date'>" + v.StartDate + "</div><div>2PM-4PM</div></div>")

                        });
                    }

                    //add click event on new appended element
                    //$(document).on('click', '.synopsis-button', function (e) {
                    //});
                    //var currentTime = new Date();
                    //if (year != currentTime.getFullYear()) {
                    //    $("#event-form").css("display", "none");
                    //}
                    //else {
                    //    $("#event-form").css("display", "block");
                    //}

                }
            })

        };

        //    $(document).on('click', '.btnDescribeEvent', function (e) { --> ini diaktifkan klo mau aktifkan yang gambar
        $(document).on('click', '#btnBookTicketList', function (e) {
            e.preventDefault();

            var image = $(this).data('image');
            var directedBy = $(this).data('created')
            var title = $(this).data('title');
            var created = $(this).data('created');
            var synopsis = $(this).data('synopsis');
            var eventid = $(this).data("eventid");
            var starring = $(this).data("starring");
            var censorRate = $(this).data("censorRate");
            var genre = $(this).data("genre");
            var language = $(this).data("language");
            var subtitle = $(this).data("subtitle");
            var duration = $(this).data("duration");
            var videoLink = $(this).data("videolink");
            var endDate = $(this).data("enddate");
            var starDateName = $(this).data("stardatename");
            var starDate = $(this).data("stardate");
            var timeShow = $(this).data("timeshow");
            var place = "Go Work, Plaza Indonesia Level 5"
            var btnBookTicket = $(this).data("btnbookticket");
            //alert(image + directedBy + title + synopsis + eventid);
            $("#EventIDHidden").val(eventid);
            $("#btnRegisMov").data('event-id', eventid); // untuk sent nilai ke HTML
            $("#btnRegisMov").data('title', title); // untuk sent nilai ke HTML
            $('#titleSynop').html(title);
            $('#imgSynop').attr('src', image);
            $('#descSynop').html(synopsis);
            $('#DirectedBySynop').html("DIRECTOR : " + directedBy + "<br />");
            $('#StarringSynop').html("STARRING : " + starring + "<br />");
            $('#CensorRateSynop').html("CENSOR RATING : " + censorRate + "<br />");
            $('#GenreSynop').html("GENRE : " + genre + "<br />");
            $('#LanguageSynop').html("LANGUAGE : " + language + "<br />");
            $('#SubtitleSynop').html("SUBTITLE : " + subtitle + "<br />");
            $('#DurationSynop').html("DURATION: " + duration + "<br />");
            $('#VideoLinkSynop').attr('src', videoLink);
            $('#starDateNameSynop').html(starDateName);
            $('#starDateSynop').html(starDate);
            $('#timeShowSynop').html(timeShow);
            $('#placeSynop').html(place);
            //alert(videoLink);
            $("#modalSynop").modal('show');
            if (btnBookTicket == 1) {
                $("#btnRegisMov").show();
            } else {
                $("#btnRegisMov").hide();
            }
            //$('.synopsis-image img').attr('src', image);
            //$('.synopsis-title').html(title);
            //$('.synopsis-created').html(created);
            //$('.synopsis-text').html(synopsis);
            $('.event-modal-event-id').val(eventid);
            //$('#event-nowshowing-synopsis-wrapper').fadeIn();
            var eventId = $(this).attr("data-eventid");
            var modal = $("#eventModal");
            $("input[name=movie][value=" + eventId + "]").prop('checked', true);
            //modal.modal('show')
        })

        $(document).on('click', '#btnRegisMov', function (e) {
            e.preventDefault();

            //alert($(this).data("event-id") + $(this).data("title"));
            var eventid = $("#EventIDHidden").val();
            $("#btnbookticket1").data('event-id', eventid);
            $("#modalSynop").modal('toggle');
            $("#MyModal1").modal('show');
            $("#formregisticket1").hide();
            $("#formregis2").hide();
            $("#textMsg").text("");
            document.getElementById("btnbookticket1").disabled = false;
            $('.event-modal-event-id').val(eventid);
            //$('#event-nowshowing-synopsis-wrapper').fadeIn();
            var eventId = $(this).attr("data-eventid");
            var modal = $("#eventModal");
            $("input[name=movie][value=" + eventId + "]").prop('checked', true);
            //modal.modal('show')
        })




        //Function buat date Picker - Ridhal
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);

        $("#regis1").click(function () {
            //alert("regis1");
            //$("#MyModal1").modal('hide');
            //$("#modalSynop").modal('show');
            $("#formregisticket1").hide();
            $("#formregis2").hide();
            $("#btnbookticket1").show();
            $('#regis1').removeClass('outer-wrapper');
            $('#regis1').addClass('outer-wrapper-chosen');
            $('#regis2').removeClass('outer-wrapper-chosen');
            $('#regis2').addClass('outer-wrapper');
            $("#textMsg").text("");
            $('#requiredRegisMailrgx').html("");
            $('#requiredRegisMailrgx2').html("");

        })
                

        $("#btnbookticket1").click(function () {
            var nama1 = $("#RegisName").val();
            var dob1 = $("#regisdate").val();
            var email1 = $("#RegisMail").val();
            var phone1 = $("#RegisPhone").val();

            var emailRegex = new RegExp("^.+@@[^\.].*\.[a-z]{2,}$", "g");
            if (!emailRegex.test(email1)) {
                $('#requiredRegisMailrgx').html(" You have entered an invalid e-mail addresses");
                $("#textMsg").text("");
            } else if (nama1 == "") {
                $('#requiredRegisName').html("*");
                $("#textMsg").text("");
                $('#requiredRegisMailrgx').html("");
                $('#requiredRegisMailrgx2').html(""); }
            else if (dob1 == "") {
                $('#requiredregisdate').html("*");
                $("#textMsg").text("");
                $('#requiredRegisMailrgx').html("");
                $('#requiredRegisMailrgx2').html("");  }
            else if (email1 == "") {
                $('#requiredRegisMail').html("*");
                $("#textMsg").text("");
                $('#requiredRegisMailrgx').html("");
                $('#requiredRegisMailrgx2').html(""); }
            else if (phone1 == "") {
                $('#requiredRegisPhone').html("*");
                $("#textMsg").text("");
                $('#requiredRegisMailrgx').html("");
                $('#requiredRegisMailrgx2').html("");  }
            else {
                //alert(nama1);
                //$('#requiredregisdate').html("");
                //$('#requiredRegisName').html("");
                //$('#requiredRegisMail').html("");
                //$('#requiredRegisPhone').html("");
                document.getElementById("btnbookticket1").disabled = true;
                $.ajax({
                type: 'POST',
                url: '@Url.Action(MVC.PIFF.PIFFRegisterParticipant())',
                    data: JSON.stringify({
                        EventCode: $(this).data('eventcode'),
                        EventID: $(this).data('event-id'),
                        Amount: $(this).data('ticket'),
                        ParticipantName: nama1,
                        ParticipantDoBirth: dob1,
                        ParticipantEmail: email1,
                        ParticipantPhone: phone1,
                        ParticipantName2: null,
                        ParticipantDoBirth2: null,
                        ParticipantEmail2: null,
                        ParticipantPhone2: null,
                }),
                dataType: 'JSON',
                contentType: 'application/json;',
                success: function (data) {
                    setTimeout(function () {

                        if (data == 1) {
                            //alert("Your request has been submitted. Kindly check your email for further information");
                            $("#MyModalSuccees").modal('show');
                            $("#modalSynop").modal('hide');
                            $("#MyModal1").modal('hide');
                            $("#textMsg").text("");
                            $('#requiredRegisMailrgx').html("");
                            $('#requiredRegisMailrgx2').html("");
                            $('#requiredRegisName').html("");
                            $('#requiredregisdate').html("");
                            $('#requiredRegisMail').html("");
                            $('#requiredRegisPhone').html("");
                        }else if (data == 98) {
                            $("#textMsg").text("You have been registered for this movie/event");
                            $('#requiredRegisMailrgx').html("");
                            $('#requiredRegisMailrgx2').html("");
                            $('#requiredRegisName').html("");
                            $('#requiredregisdate').html("");
                            $('#requiredRegisMail').html("");
                            $('#requiredRegisPhone').html("");
                            document.getElementById("btnbookticket1").disabled = false;
                        } 

                    }, 500);

                }
                }) //end ajax

            }

        })
               

    })

    //scrip additional
    function ModalClipBoard() {
        document.getElementById("TextShare").value = "http://piff.plazaindonesia.com/PIFFWorkshop";
        //$("#modalSynop").modal('hide');
        $("#MyModalClipboard").modal('show');


    }

    function myFunctioncopytext() {
        var copyText = document.getElementById("TextShare");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
        //$("#MyModalClipboard").modal('hide');
        //$("#modalSynop").modal('show');
    }

    function onclosed() {
        //$("#modalSynop").modal('show');
    }

</script>
