﻿@model List<PIRShoppingMall.data.sp_getPiffData_Result2>
@{
    Layout = null;
    var thisYear = DateTime.Now.Year;
    int timelineMax = 5;
    List<int> Year = new List<int>();
    thisYear = thisYear - 4;
    for (int i = 0; i < timelineMax; i++)
    {
        Year.Add(thisYear + i);
    }
    int yearData = DateTime.Now.Year;
    var piffeventmaster = (List<PIRShoppingMall.data.vw_MasterTypeEvent>)ViewBag.PIFFMasterdata;
    var piffSubmissionDet = (PIRShoppingMall.data.vw_MasterTypeEvent)ViewBag.PIFFDetailSubmission;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="Plaza Indonesia,Mall Jakarta,Plaza Indonesia Restaurant,Things to do in jakarta,Restoran di Jakarta">
    <title>Plaza Indonesia</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/res/css/font-awesome.min.css">
    <link href="~/res/js/slick-1.8.0/slick/slick.css" rel="stylesheet" />
    <link href="~/res/js/swiper-4.0.7/dist/css/swiper.css" rel="stylesheet" />
    @*<link href="~/res/js/slick-1.8.0/slick/slick-theme.css" rel="stylesheet" />*@
    <link href="~/res/js/slick-1.8.0/slick/custom-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/res/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/res/css/style.css?v=1.5">
    <link href="~/res/css/passwordCheck.css" rel="stylesheet" />
    <link href="~/res/js/Parsley.js-2.8.0/src/parsley.css" rel="stylesheet" />
    @*<link href="~/res/js/MDB/css/mdb.css" rel="stylesheet" />
    <link href="~/res/js/MDB/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- <script src="~/res/js/countdown.min.js"></script> -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68255636-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body style="padding-top:70px">

    <div id="main-wrapper">

        <section id="menu" class="affix hidden-xs">

            <a href="http://www.plazaindonesia.com"><img class="affix-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg"></a>

            <div class="container">

                <nav>

                    <ul>

                        <li><a href="http://www.plazaindonesia.com/">Home</a></li>
                        <span class="separator">/</span>

                        <li>

                            <a href="#">What's On</a>

                            <ul class="sub-menu bot">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/#events">Event</a></li>

                                <li><a href="http://www.plazaindonesia.com/archive/event/2019/January">Event Archive</a></li>

                                <li><a href="http://www.plazaindonesia.com/#promo">Promotion</a></li>

                                <li><a href="http://www.plazaindonesia.com/#now-open">Now Open</a></li>

                                @*<li><a href="@Url.Action(MVC.PIFF.PIFFIndex())" target="_self">PIFF 2019</a></li>*@

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li>

                            <a href="http://www.plazaindonesia.com/#highlights">Highlights Of The Month</a>

                            <ul class="sub-menu bot highlights">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/archive/highlights/2019/January">Highlights Archive</a></li>

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li>

                            <a href="http://www.plazaindonesia.com/#blog">Blog</a>

                            <ul class="sub-menu bot blog">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/archive/blog/2019/January">Blog Archive</a></li>

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#privilege">Shopping Privileges</a></li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#directory">Directory</a></li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#contact">Contact Us</a></li>

                    </ul>

                </nav>

            </div>

        </section>
    </div>

    <div class="mobile-menu-header visible-xs">

        <div class="menu-bar visible-xs"><span class="fa fa-bars"></span></div>

        <nav class="mobile-menu">

            <ul>

                <li><a href="http://www.plazaindonesia.com/">Home</a></li>

                <li class="wo">

                    <a>What's On</a>

                    <ul class="sub-menu">

                        <li><a href="http://www.plazaindonesia.com/#events">Event</a></li>

                        <li><a href="http://www.plazaindonesia.com/archive/event/2019/January">Event Archive</a></li>

                        <li><a href="http://www.plazaindonesia.com/#promo">Promotion</a></li>

                        <li><a href="http://www.plazaindonesia.com/#now-open">Now Open</a></li>

                       @* <li><a href="@Url.Action(MVC.PIFF.PIFFIndex())" target="_self">PIFF 2019</a></li>*@

                    </ul>

                </li>

                <li><a href="http://www.plazaindonesia.com/#highlights">Highlights Of The Month</a></li>

                <li><a href="http://www.plazaindonesia.com/archive/highlights/2019/January">Highlights Archive</a></li>

                <li><a href="http://www.plazaindonesia.com/#blog">Blog</a></li>

                <li><a href="http://www.plazaindonesia.com/archive/blog/2019/January">Blog Archive</a></li>

                <li><a href="http://www.plazaindonesia.com/#privilege">Shopping Privileges</a></li>

                <li><a href="http://www.plazaindonesia.com/#directory">Directory</a></li>

                <li><a href="http://www.plazaindonesia.com/#contact">Contact Us</a></li>

            </ul>

            <div class="social-logo">

                <a target="_blank" href="https://twitter.com/plazaindonesia">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-twitter"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-facebook"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://instagram.com/plaza_indonesia/">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-instagram"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://plus.google.com/110195465192502798208/">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-google-plus"></span>

                        </div>

                    </div>

                </a>

            </div>

        </nav>

        <div class="social-logo hidden-xs">

            <a target="_blank" href="https://twitter.com/plazaindonesia">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-twitter"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-facebook"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://instagram.com/plaza_indonesia/">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-instagram"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://plus.google.com/110195465192502798208/">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-google-plus"></span>

                    </div>

                </div>

            </a>

        </div>

        <a href="http://www.plazaindonesia.com"><img class="main-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg"></a>


    </div>
    <div class="container" id="steplink">PIFF 2019 </div>

    <div class="container" style="margin-bottom: 60px;" id="PIFF-Home">
        @*<div id="PIFF-Home" >*@
        <div class="container">

            @foreach (var item in piffeventmaster)
            {
                <div class="row justify-content-md-center Home-Row">
                    <div class="Home-item col-xs-12 col-sm-4">
                        <div class="Home-image" style="background-image: url('~/Areas/Management/Assets/images/Piff2019/@item.Image1');">
                            <img class="img-responsive" src="~/Areas/Management/Assets/images/Piff2019/@item.Image1">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="Home-Desc col-xs-12 col-sm-8">
                        <div class="title">@item.Title1</div>
                        <div>
                            <p class="Describe">
                                <br />
                                @item.Information1
                            </p>


                        </div>

                        <div class="Home-Button ">
                            @if (item.TypeEventID == 8)
                            {

                                <a role="button" class="btnHomeCustomColor" href="@Url.Action(MVC.PIFF.PIFFMovie())" target="_self">BOOK TICKETS</a>
                            }
                            else if (item.TypeEventID == 9)
                            {

                                <a role="button" class="btnHomeCustomColor" href="@Url.Action(MVC.PIFF.PIFFWorkshop())" target="_self">REGISTER NOW</a>
                            }
                            else if (item.TypeEventID == 10)
                            {

                                <a role="button"  class="btnHomeCustomColor" data-toggle="modal" data-target="#exampleModal">SEE DETAILS</a>
                            }
                        </div> 	                                             
                        
                    </div>

                </div>
            }


            @*<div class="row justify-content-md-center Home-Row">
                <div class="Home-item col-xs-12 col-sm-4">
                    <div class="Home-image" style="background-image: url('~/Areas/Management/Assets/images/Piff2019/homepic_movieScreen.jpg');">
                        <img class="img-responsive" src="~/Areas/Management/Assets/images/Piff2019/homepic_movieScreen.jpg">
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="Home-Desc col-xs-12 col-sm-8">
                    <div class="title">Movie Screening</div>
                    <div>
                        <p class="Describe">
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                            Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                            a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                        </p>


                    </div>

                    <div class="Home-Button ">
                        <a role="button" class="btnHomeCustomColor" href="@Url.Action(MVC.PIFF.PIFFMovie())" target="_self">BOOK TICKETS</a>
                    </div>
                </div>

            </div>

            <div class="row justify-content-md-center Home-Row">
                <div class="Home-item col-xs-12 col-sm-4">
                    <div class="Home-image" style="background-image: url('~/Areas/Management/Assets/images/Piff2019/homepic_movieCoaching.jpg');">
                        <img class="img-responsive" src="~/Areas/Management/Assets/images/Piff2019/homepic_movieCoaching.jpg">
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="Home-Desc col-xs-12 col-sm-8">
                    <div class="title">Movie Clinic </div>
                    <div>
                        <p class="Describe">
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                            Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                            a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                        </p>


                    </div>

                    <div class="Home-Button ">
                        <a role="button" class="btnHomeCustomColor" href="@Url.Action(MVC.PIFF.PIFFWorkshop())" target="_self">Register Now</a>
                    </div>
                </div>

            </div>

            <div class="row justify-content-md-center Home-Row">
                <div class="Home-item col-xs-12 col-sm-4">
                    <div class="Home-image" style="background-image: url('~/Areas/Management/Assets/images/Piff2019/homepic_movieSubmission.jpg');">
                        <img class="img-responsive" src="~/Areas/Management/Assets/images/Piff2019/homepic_movieSubmission.jpg">
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="Home-Desc col-xs-12 col-sm-8">
                    <div class="title">Submission</div>
                    <div>
                        <p class="Describe">
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                            Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                            a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                        </p>

                    </div>

                    <div class="Home-Button ">
                        <button type="button" class="btnHomeCustomColor" data-toggle="modal" data-target="#exampleModal">SEE DETAILS</button>

                    </div>
                </div>

            </div>*@
        </div>



        @*</div>*@

    </div>

    <!-- Modal -->

    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="col-12 modal-title text-center" id="exampleModalLabel">
                        @if (piffSubmissionDet != null)
                        {
                            @piffSubmissionDet.Title2
                        }
                    </h1>
                </div>
                <div class="modal-body">
                    @if (piffSubmissionDet != null)
                    {
                        @Html.Raw(piffSubmissionDet.Information2)
                    }

                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>


<section id="footer">
    <div class="outer-footer">Copyright &copy;2019 Plaza Indonesia All Rights Reserved</div>
</section>
<script src="~/res/js/MDB/js/jquery-3.3.1.min.js"></script>
<script src="~/res/js/bootstrap.min.js"></script>
<script src="~/res/js/owl.carousel.min.js"></script>
<script src="~/res/js/bootstrap-datepicker.min.js"></script>
<script src="~/res/js/jquery.dotdotdot.min.js"></script>
<script src="~/res/js/slick-1.8.0/slick/slick.min.js"></script>
<script src="~/res/js/perfect-scrollbar.jquery.js"></script>
<script src="~/res/js/jquery.waypoints.min.js"></script>
<script src="~/res/js/Parsley.js-2.8.0/dist/parsley.js"></script>
                @*<script src="~/res/js/scripts.js"></script>*@
                @*<script src="~/res/js/MDB/js/mdb.js"></script>*@
                @*<script src="~/res/js/MDB/js/mdb.min.js"></script>*@
                    <script src="~/res/js/swiper-4.0.7/dist/js/swiper.min.js"></script>
                    <script src="~/res/js/scripts-event.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

</body>
</html>
<script>
    $(document).ready(function () {

         //  $.LoadingOverlay("show");      

    })


</script>
