﻿@model List<PIRShoppingMall.data.sp_getPiffData_Result2>
@{
    Layout = null;
    var thisYear = DateTime.Now.Year;
    int timelineMax = 5;
    List<int> Year = new List<int>();
    thisYear = thisYear - 4;
    for (int i = 0; i < timelineMax; i++)
    {
        Year.Add(thisYear + i);
    }
    var index = 1;
    int yearData = DateTime.Now.Year;
    var piffUser = (PIRShoppingMall.data.sp_LoginPIFFs_Result)ViewBag.piffs;
    var movieScreening = (List<PIRShoppingMall.data.PIFFHeader>)ViewBag.PIFFData;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="Plaza Indonesia,Mall Jakarta,Plaza Indonesia Restaurant,Things to do in jakarta,Restoran di Jakarta">
    <title>Plaza Indonesia</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/res/css/font-awesome.min.css">
    <link href="~/res/js/slick-1.8.0/slick/slick.css" rel="stylesheet" />
    <link href="~/res/js/swiper-4.0.7/dist/css/swiper.css" rel="stylesheet" />
    @*<link href="~/res/js/slick-1.8.0/slick/slick-theme.css" rel="stylesheet" />*@
    <link href="~/res/js/slick-1.8.0/slick/custom-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/res/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/res/css/style.css?v=1.5">
    <link href="~/res/css/passwordCheck.css" rel="stylesheet" />
    <link href="~/res/js/Parsley.js-2.8.0/src/parsley.css" rel="stylesheet" />
    @*<link href="~/res/js/MDB/css/mdb.css" rel="stylesheet" />
        <link href="~/res/js/MDB/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- <script src="~/res/js/countdown.min.js"></script> -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68255636-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body style="padding-top:100px">

    <div id="main-wrapper">

        <section id="menu" class="affix hidden-xs">

            <a href="http://www.plazaindonesia.com"><img class="affix-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg"></a>

            <div class="container">

                <nav>

                    <ul>

                        <li><a href="http://www.plazaindonesia.com/">Home</a></li>
                        <span class="separator">/</span>

                        <li>

                            <a href="#">What's On</a>

                            <ul class="sub-menu bot">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/#events">Event</a></li>

                                <li><a href="http://www.plazaindonesia.com/archive/event/2019/January">Event Archive</a></li>

                                <li><a href="http://www.plazaindonesia.com/#promo">Promotion</a></li>

                                <li><a href="http://www.plazaindonesia.com/#now-open">Now Open</a></li>

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li>

                            <a href="http://www.plazaindonesia.com/#highlights">Highlights Of The Month</a>

                            <ul class="sub-menu bot highlights">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/archive/highlights/2019/January">Highlights Archive</a></li>

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li>

                            <a href="http://www.plazaindonesia.com/#blog">Blog</a>

                            <ul class="sub-menu bot blog">

                                <span class="double fa fa-caret-up"></span>

                                <span class="fa fa-caret-up"></span>

                                <span class="double fa fa-caret-down"></span>

                                <span class="fa fa-caret-down"></span>

                                <li><a href="http://www.plazaindonesia.com/archive/blog/2019/January">Blog Archive</a></li>

                            </ul>

                        </li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#privilege">Shopping Privileges</a></li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#directory">Directory</a></li>
                        <span class="separator">/</span>

                        <li><a href="http://www.plazaindonesia.com/#contact">Contact Us</a></li>

                    </ul>

                </nav>

            </div>

        </section>
    </div>

    <div class="mobile-menu-header visible-xs">

        <div class="menu-bar visible-xs"><span class="fa fa-bars"></span></div>

        <nav class="mobile-menu">

            <ul>

                <li><a href="http://www.plazaindonesia.com/">Home</a></li>

                <li class="wo">

                    <a>What's On</a>

                    <ul class="sub-menu">

                        <li><a href="http://www.plazaindonesia.com/#events">Event</a></li>

                        <li><a href="http://www.plazaindonesia.com/archive/event/2019/January">Event Archive</a></li>

                        <li><a href="http://www.plazaindonesia.com/#promo">Promotion</a></li>

                        <li><a href="http://www.plazaindonesia.com/#now-open">Now Open</a></li>

                    </ul>

                </li>

                <li><a href="http://www.plazaindonesia.com/#highlights">Highlights Of The Month</a></li>

                <li><a href="http://www.plazaindonesia.com/archive/highlights/2019/January">Highlights Archive</a></li>

                <li><a href="http://www.plazaindonesia.com/#blog">Blog</a></li>

                <li><a href="http://www.plazaindonesia.com/archive/blog/2019/January">Blog Archive</a></li>

                <li><a href="http://www.plazaindonesia.com/#privilege">Shopping Privileges</a></li>

                <li><a href="http://www.plazaindonesia.com/#directory">Directory</a></li>

                <li><a href="http://www.plazaindonesia.com/#contact">Contact Us</a></li>

            </ul>

            <div class="social-logo">

                <a target="_blank" href="https://twitter.com/plazaindonesia">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-twitter"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-facebook"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://instagram.com/plaza_indonesia/">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-instagram"></span>

                        </div>

                    </div>

                </a>

                <a target="_blank" href="https://plus.google.com/110195465192502798208/">

                    <div class="item">

                        <div class="outer-wrapper">

                            <span class="fa fa-google-plus"></span>

                        </div>

                    </div>

                </a>

            </div>

        </nav>

        <div class="social-logo hidden-xs">

            <a target="_blank" href="https://twitter.com/plazaindonesia">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-twitter"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-facebook"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://instagram.com/plaza_indonesia/">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-instagram"></span>

                    </div>

                </div>

            </a>

            <a target="_blank" href="https://plus.google.com/110195465192502798208/">

                <div class="item">

                    <div class="outer-wrapper">

                        <span class="fa fa-google-plus"></span>

                    </div>

                </div>

            </a>

        </div>

        <a href="http://www.plazaindonesia.com"><img class="main-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg"></a>


    </div>


    <div class="container" style="margin-bottom: 60px;">
        <div class="row justify-content-md-center" id="PIFF-Home">

            <div class="Home-item col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <div class="" style="width:100%; background-image: url('http://svrtestmix:90/Document/MasterEvent/29-Image.jpg');">
                    <img class="img-responsive" src="http://svrtestmix:90/Document/MasterEvent/29-Image.jpg">
                </div>
            </div>

            <div class="col-0">
                <div></div>
            </div>
            <div class="Home-Desc col-7 col-sm-7 col-md-7 col-lg-8 col-xl-8">
                <div class="title">MOVIE SCREENING</div>
                <div>
                    <p class="Describe">
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus euismod nulla nec ultrices. Vivamus sagittis ut mi sit amet maximus.
                        Sed sed malesuada augue. Quisque sodales diam vel metus faucibus, non sodales felis efficitur. Suspendisse auctor orci vitae eros pellentesque,
                        a vestibulum ex pretium. Integer in nunc non augue tincidunt mattis. Suspendisse sed dapibus ante. Morbi ac nisl lorem.
                    </p>
                    <p class="Describe">
                        Maecenas et faucibus est. Praesent id est felis. Nulla in libero auctor, blandit lorem vel, pellentesque neque.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae ornare dui,
                        vitae pharetra ligula. Suspendisse sodales euismod commodo. Nunc vitae suscipit turpis. Donec et urna ipsum.
                        Mauris tincidunt a mi vel tempus. Nullam et nibh a nunc scelerisque congue non ut sapien.
                        Phasellus consectetur ex vel pretium pulvinar. Donec id leo consectetur, dictum libero nec, tincidunt sapien.
                        Praesent eu porttitor turpis, non sodales diam. In lobortis, ex quis tristique interdum, erat nunc aliquet tortor,
                        ut efficitur nisl mi eu mauris.
                    </p>

                </div>
            </div>
        </div>



        <div id="movie-nowshowing">
            <div class="section-content">
                <div class="movie-nowshowing-container">
                    <div id="movieContent" class="movie-container">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Modal -->

    <div class="modal fade" id="MyModal1">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="col-12 modal-title text-left" id="exampleModalLabel">Booking Form</h1>
                    @*<div class='btnDescribeEvent' data-EventID="" data-title="" src="" data-image=""  data-created="" data-starring="" data-censorRate="" data-genre="" data-language="" data-subtitle="" data-duration="" data-videolink="" data-synopsis="">BOOK TICKETS</div>*@
                </div>
                <form>
                    <div class="modal-body">
                        <label class="control-label">
                            Ticket Amount
                        </label>
                        <br />
                        <div class="social-logo2">
                            <div class="item">
                                <div class="outer-wrapper-chosen" id="regis1">
                                    1
                                </div>
                            </div>

                            <div class="item">
                                <div class="outer-wrapper" id="regis2">
                                    2
                                </div>
                            </div>

                        </div>
                        <br />

                        <div id="formregis1" style="margin-bottom:30px">

                            <div id="formregisticket1" class="form-group">
                                <label class="control-label">
                                    TICKET 1
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Full Name
                                </label>
                                <span id="requiredRegisName" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisName" placeholder="Name" maxlength="100" />
                            </div>

                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="regisdate">
                                    Date of Birth
                                </label>
                                <span id="requiredregisdate" style="color:red;font-size:medium;"></span>
                                <input class="form-control" id="regisdate" name="date" placeholder="DD/MM/YYY" type="text" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    E-mail
                                </label>
                                <span id="requiredRegisMail" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisMail" placeholder="E-Mail" data-parsley-type="email" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Mobile Phone
                                </label>
                                <span id="requiredRegisPhone" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisPhone" placeholder="Phone" maxlength="20" data-parsley-type="digits" />

                            </div>
                        </div>

                        <div id="formregis2">

                            <div class="form-group">
                                <label class="control-label">
                                    TICKET 2
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Full Name
                                </label>
                                <span id="requiredRegisName2" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisName2" placeholder="Name" maxlength="100" />
                            </div>

                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="date">
                                    Date of Birth
                                </label>
                                <span id="requiredregisdate2" style="color:red;font-size:medium;"></span>
                                <input class="form-control" id="regisdate2" name="date" placeholder="DD/MM/YYY" type="text" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    E-mail
                                </label>
                                <span id="requiredRegisMail2" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisMail2" placeholder="E-Mail" data-parsley-type="email" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Mobile Phone
                                </label>
                                <span id="requiredRegisPhone2" style="color:red;font-size:medium;"></span>
                                <input type="text" class="form-control" id="RegisPhone2" placeholder="Phone" maxlength="20" data-parsley-type="digits" />

                            </div>
                        </div>
                        <p id="textMsg" style="color:red;font-size:medium;"></p>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                        <button id="btnbookticket1" name="btnbookticket1person" type="button" data-event-id="" data-eventcode="MS" data-ticket="1" class="btnCustomColor">BOOK TICKET</button>
                        <button id="btnbookticket2" name="btnbookticket2person" type="button" data-event-id="" data-eventcode="MS" data-ticket="2" class="btnCustomColor">BOOK TICKETS</button>
                        <!--<button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalSynop">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img id="imgSynop" class="img-responsive" />
                        </div>
                        <div class="col-sm-6">
                            <div id="titleSynop" style="text-align:left;margin-bottom:10px"></div>
                            <div id="descSynop" style="text-align:justify;text-justify:inter-word;"></div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="social-logo2">
                                <a target="_blank" href="https://twitter.com/plazaindonesia">
                                    <div class="item">
                                        <div class="outer-wrapper">
                                            <span class="fa fa-twitter"></span>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                                    <div class="item">
                                        <div class="outer-wrapper">
                                            <span class="fa fa-facebook"></span>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                                    <div class="item">
                                        <div class="outer-wrapper">
                                            <span class="fa fa-instagram"></span>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                                    <div class="item">
                                        <div class="outer-wrapper">
                                            <span class="fa fa-google-plus"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="margin-bottom:20px">
                            <iframe id="VideoLinkSynop" style="width:100%;height:auto;margin-top:5px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-6">
                            <div id="StarringSynop" style="text-align:left;"></div>
                            <div id="DirectedBySynop" style="text-align:left;"></div>
                            <div id="CensorRateSynop" style="text-align:left;"></div>
                            <div id="GenreSynop" style="text-align:left;"></div>
                            <div id="LanguageSynop" style="text-align:left;"></div>
                            <div id="SubtitleSynop" style="text-align:left;"></div>
                            <div id="DurationSynop" style="text-align:left;"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">BOOK TICKETS </button>*@
                    @*<div class='button-RegisterMovie' data-event-id='"+ v.EventID +"'>Watch Movie</div>*@
                    <button class="btnCustomColor" type="button" id='btnRegisMov' data-event-id="" data-title=""> BOOK TICKETS</button>

                </div>
            </div>
        </div>
    </div>


    @Html.Hidden("EventIDHidden", 0);

    @*<div class="modal" tabindex="-1" role="dialog" id="modalSynop">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-6">
                            <div class="row">
                                <img id="imgSynop" class="img-responsive" />
                            </div>
                            <div class="row">
                                <div class="social-logo2">
                                    <a target="_blank" href="https://twitter.com/plazaindonesia">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-twitter"></span>
                                            </div>
                                        </div>
                                    </a>
                                    <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-facebook"></span>
                                            </div>
                                        </div>
                                    </a>
                                    <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-instagram"></span>
                                            </div>
                                        </div>
                                    </a>
                                    <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                                        <div class="item">
                                            <div class="outer-wrapper">
                                                <span class="fa fa-google-plus"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <iframe id="VideoLinkSynop" style="width:100%;height:auto;margin-top:5px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="titleSynop" style="text-align:left;margin-bottom:10px"></div>
                            <div id="descSynop" style="text-align:justify;text-justify:inter-word;"></div>
                            <div id="StarringSynop" style="text-align:left;"></div>
                            <div id="DirectedBySynop" style="text-align:left;"></div>
                            <div id="CensorRateSynop" style="text-align:left;"></div>
                            <div id="GenreSynop" style="text-align:left;"></div>
                            <div id="LanguageSynop" style="text-align:left;"></div>
                            <div id="SubtitleSynop" style="text-align:left;"></div>
                            <div id="DurationSynop" style="text-align:left;"></div>
                        </div>


                    </div>
                    <div class="row"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>*@


    <section id="footer">
        <div class="outer-footer">Copyright &copy;2017 Plaza Indonesia All Rights Reserved</div>
    </section>
    <script src="~/res/js/MDB/js/jquery-3.3.1.min.js"></script>
    <script src="~/res/js/bootstrap.min.js"></script>
    <script src="~/res/js/owl.carousel.min.js"></script>
    <script src="~/res/js/bootstrap-datepicker.min.js"></script>
    <script src="~/res/js/jquery.dotdotdot.min.js"></script>
    <script src="~/res/js/slick-1.8.0/slick/slick.min.js"></script>
    <script src="~/res/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/res/js/jquery.waypoints.min.js"></script>
    <script src="~/res/js/Parsley.js-2.8.0/dist/parsley.js"></script>
    @*<script src="~/res/js/scripts.js"></script>*@
    @*<script src="~/res/js/MDB/js/mdb.js"></script>*@
    @*<script src="~/res/js/MDB/js/mdb.min.js"></script>*@
    <script src="~/res/js/swiper-4.0.7/dist/js/swiper.min.js"></script>
    <script src="~/res/js/scripts-event.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

</body>
</html>
<script>
    $(document).ready(function () {

         //  $.LoadingOverlay("show");

        $("#checkAgree").click(function () {
            var isChecked = $(this).prop('checked')
            if (isChecked) {
                $("#shortFilmSubmit").prop('disabled', false);
            }
            else
            {
                $("#shortFilmSubmit").prop('disabled', true);
            }

        })
        $(document).on('hidden.bs.modal', '.modal', function () {
            $('.modal:visible').length && $(document.body).addClass('modal-open');
        });
        $("#termcond").click(function () {
            $("#modalTemsCond").modal('show');
        })
        $("#forgotPass").click(function () {
            forgotPassword();
        })
        function forgotPassword() {
            $("#formUsrName").fadeOut('slow');
            $("#formPass").fadeOut('slow');
            $("#footerLogin").fadeOut('slow');
            $("#footerForgot").fadeIn('slow');
            $("#formMail").fadeIn('slow');
            $("#forgotPass").fadeOut('slow');
        }
        $("#btnGotoLogin").click(function () {
            RestoreFormLogin();
        })
        $("#movClinSubmit").click(function (e) {
            e.preventDefault();
            if ($(".movieCLinicForm").parsley({ excluded: "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden" }).validate()) {
                var dataString = new FormData();
                var selectedFile = $("#scriptUploadFile").get(0).files;
                var youtubelink = $("input[name=Youtube_Link]").val();
                if (youtubelink == "" && selectedFile.length == 0) {
                    $("#modalMsg").modal('toggle');
                    $("#textMsg").text("Your must fill your portfolio");
                    $("#msgDisclaim").text("");
                    return;
                }
                if (selectedFile.length > 0) {
                    if (selectedFile[0].type != "application/pdf" && selectedFile[0].type != "image/jpeg") {

                        $("#modalMsg").modal('toggle');
                        $("#textMsg").text("Your file extension was not accepted")
                        $("#msgDisclaim").text("");
                        return;
                    }
                    if (selectedFile[0].size > 1048576) {

                        $("#modalMsg").modal('toggle');
                        $("#textMsg").text("Your file was more than 1MB");
                        $("#msgDisclaim").text("");
                        return;
                    }
                    dataString.append("movieScriptFile", selectedFile[0]);
                }
                var fileSize = 0;
                var form = $(".movieCLinicForm")[0];
                dataString.append("Title_Film", $("input[name=Title_Film]").val())
                dataString.append("Title_Film_other", $("input[name=Title_Film_other]").val())
                dataString.append("date_completed", $("input[name=date_completed]").val())
                dataString.append("Role", $("input[name=Role]").val())
                dataString.append("Youtube_Link", $("input[name=Youtube_Link]").val())
                dataString.append("Award", $("input[name=Award]:checked").val())
                dataString.append("MovClinAward", $("input[name=MovClinAward]").val())
                dataString.append("Education", $("input[name=Education]:checked").val())
                dataString.append("MajorSmester", $("input[name=MajorSmester]").val())
                dataString.append("MajorGraduation", $("input[name=MajorGraduation]").val())
                dataString.append("Training", $("input[name=Training]:checked").val())
                dataString.append("TrainingName", $("input[name=TrainingName]").val())
                dataString.append("EventID", $("input[name=clinic]:checked").val())
                dataString.append("Reason", $("textarea[name=Reason]").val())
                $.ajax({
                    url: '@Url.Action(MVC.PIFF.MovieClinicRegistration())',  //Server script to process data
                    type: 'POST',
                    success: function (data) {
                        if (data == "OK") {
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Registration Success");
                            $("#msgDisclaim").text("");
                        }
                        else
                        {
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Error");
                            $("#msgDisclaim").text("");
                        }
                    },
                    data: dataString,
                    //Options to tell jQuery not to process data or worry about content-type.
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            @*var xhr = new XMLHttpRequest();
            xhr.open('POST','@Url.Action(MVC.PIFF.MovieClinicRegistration())');
            xhr.send(dataString);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(xhr.responseText);
                }
            }
            return false;*@
        })
        $("#shortFilmSubmit").click(function (e) {
            $.LoadingOverlay("show");
            e.preventDefault();
            if ($(".formShortFilm").parsley({ excluded: "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden" }).validate()) {
                var dataString = new FormData();
                var selectedFile = $("#directorInputFile").get(0).files;
                if (selectedFile.length > 0) {
                    if (selectedFile[0].type != "image/jpeg" && selectedFile[0].type != "image/png" && selectedFile[0].type != "image/jpg") {
                        $.LoadingOverlay("hide");
                        $("#modalMsg").modal('toggle');
                        $("#textMsg").text("Your file extension was not accepted only .png/.jpg/.jpeg")
                        $("#msgDisclaim").text("");
                        return;
                    }
                    if (selectedFile[0].size > 1048576) {
                        $.LoadingOverlay("hide");
                        $("#modalMsg").modal('toggle');
                        $("#textMsg").text("Your file was more than 1MB");
                        $("#msgDisclaim").text("");
                        return;
                    }
                    dataString.append("movieScriptFile", selectedFile[0]);
                }
                else
                {
                    $.LoadingOverlay("hide");
                    $("#modalMsg").modal('toggle');
                    $("#textMsg").text("Please add your Photo");
                    $("#msgDisclaim").text("");
                    return;
                }
                var fileSize = 0;
                dataString.append("Title_Film", $("#Title_Film").val())
                dataString.append("Title_Film_other", $("#Title_Film_other").val())
                dataString.append("date_completed", $("#date_completed").val())
                dataString.append("Film_duration", $("input[name=Film_duration]").val())
                dataString.append("Film_Synopsis", $("textarea[name=Film_Synopsis]").val())
                dataString.append("Youtube_Link", $("input[name=Youtube_Link]").val())
                dataString.append("FilmFestival", $("input[name=FilmFestival]:checked").val())
                dataString.append("FilmFestivalNameDate", $("input[name=FilmFestivalNameDate]").val())
                dataString.append("Film_Director", $("input[name=Film_Director]").val())
                dataString.append("FIlm_Producer", $("input[name=Film_Producer]").val())
                dataString.append("Film_ScriptWriter", $("input[name=Film_ScriptWriter]").val())
                dataString.append("Film_DirectorOfPhoto", $("input[name=Film_DirectorOfPhoto]").val())
                dataString.append("Film_Cast", $("input[name=Film_Cast]").val())
                dataString.append("Film_Editor", $("input[name=Film_Editor]").val())
                dataString.append("Film_ArtDirector", $("input[name=Film_ArtDirector]").val())
                dataString.append("Film_MusicArrangement", $("input[name=Film_MusicArrangement]").val())
                dataString.append("Film_Others", $("input[name=Film_Others]").val())
                dataString.append("Biograph", $("textarea[name=Biograph]").val())
                dataString.append("Film_Award", $("input[name=Film_Award]:checked").val())
                dataString.append("Film_AwardNameDate", $("input[name=Film_AwardNameDate]").val())
                dataString.append("Film_Format", $("input[name=Film_Format]:checked").val())
                dataString.append("OtherFormat", $("input[name=OtherFormat]").val())
                dataString.append("Color_Film", $("input[name=Color_Film]:checked").val())
                dataString.append("Film_Sound", $("input[name=Film_Sound]:checked").val())
                dataString.append("Film_language", $("input[name=Film_language]").val())
                dataString.append("Film_Subtitle", $("input[name=Film_Subtitle]").val())
                dataString.append("Film_Link", $("input[name=Film_Link]").val())

                $.ajax({
                    url: '@Url.Action(MVC.PIFF.ShortFilmRegistration())',  //Server script to process data
                    type: 'POST',
                    success: function (data) {
                        if (data == "OK") {
                            $.LoadingOverlay("hide");
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Registration Success");
                            $("#msgDisclaim").text("");
                        }
                        else
                        {
                            $.LoadingOverlay("hide");
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Error");
                            $("#msgDisclaim").text("");
                        }
                    },
                    data: dataString,
                    //Options to tell jQuery not to process data or worry about content-type.
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }

        })
        $(document).on('click', '#RegisScreening', function (e) {
            e.preventDefault();
             var piffContact = $("#profileName").val();
            if (piffContact == "") {
                $("#modalMsgJoin").modal('toggle');
                $("#texJoinMsg").text("Please sign in / sign up to Register");
                return;
            }
            //e.preventDefault();
            var mov = $(this).data('event-ids');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action(MVC.PIFF.RegisterMovieScreening())',
                    data: JSON.stringify({ movie: mov }),
                    dataType: 'JSON',
                    contentType: 'application/json;',
                    success: function (data) {
                        if (data) {
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Your request has been submitted. Kindly check your email for confirmation.")
                            $("#msgDisclaim").text("");
                            $("#msgDisclaim").append("<span style='color:red'>*</span>Please note that 1 person is only entitled for maximum 2 tickets.<br/><span style='color:red'>*</span>Please wait for our confirmation within 24 hours")

                        }
                        else {
                            $("#modalMsg").modal('toggle');
                            $("#msgDisclaim").text("");
                            $("#textMsg").text("Sorry, you are already submitted for this movie.")

                        }
                    },

                })
        })
        $("#resetPass").click(function () {

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action(MVC.PIFF.ForgotPassword())',
                    data: JSON.stringify({ email: $('#forgotMail').val() }),
                    dataType: 'JSON',
                    contentType: 'application/json;',
                    success: function (data) {
                        if (data) {
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Successfull Reset Password")
                            $("#msgDisclaim").text("");
                        }
                        else {
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Error!")
                            $("#msgDisclaim").text("");
                        }
                    },

                })


        })
        $('input:radio[name="Film_Award"]').change(function () {
            if ($(this).is(':checked') && $(this).val() == 'Yes') {
                $("#Film_AwardNameDate").show()
            }
            else {
                $("#Film_AwardNameDate").hide();
            }
        })
        $('input:radio[name="Award"]').change(function () {
            if ($(this).is(':checked') && $(this).val() == 'Yes') {
                $("#MovClinAward").show()
            }
            else {
                $("#MovClinAward").hide();
            }
        })
        $('input:radio[name="FilmFestival"]').change(function () {
            if ($(this).is(':checked') && $(this).val() == 'Yes') {
                $("#FilmFestivalNameDate").show()
            }
            else {
                $("#FilmFestivalNameDate").hide();
            }
        })
        $('input:radio[name="Film_Format"]').change(function () {
            if ($(this).is(':checked') && $(this).val() == 'Other') {
                $("#OtherFormat").show()
            }
            else {
                $("#OtherFormat").hide();
            }
        })
        $('input:radio[name="Education"]').change(
            function () {
                if ($(this).is(':checked') && $(this).val() == 'Yes') {
                    $("#smester").show()
                    $("#graduation").hide();
                }
                else
                {
                    $("#smester").hide();
                    $("#graduation").show();
                }
            });
        $('input:radio[name="Training"]').change(function () {
            if ($(this).is(':checked') && $(this).val() == 'Yes') {
                $("#TrainingName").show()
            }
            else {
                $("#TrainingName").hide()
            }
        })

        function RestoreFormLogin() {
            $("#formUsrName").fadeIn('slow');
            $("#formPass").fadeIn('slow');
            $("#footerLogin").fadeIn('slow');
            $("#footerForgot").fadeOut('slow');
            $("#formMail").fadeOut('slow');
            $("#forgotPass").fadeIn('slow');
        }

        setTimeout(function () {
            getDataPIFF(@yearData);

            //mySwiper.init();

        }, 1000)
        $('.timeline-item:not(active)').on('click', function () {
            $('.timeline-item').removeClass('active');
            $(this).addClass('active');
            var yearVal = $(this)[0].innerText;
            getDataPIFF(yearVal);
        });


        $("#LoginToSistem").click(function () {
            if ($("#frmLoginToPIFF").parsley().validate({ excluded: "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden" })) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action(MVC.PIFF.LoginPIFF())',
                    data: JSON.stringify({ username: $("#UserName").val(), password: $("#Password").val() }),
                    dataType: 'JSON',
                    contentType: 'application/json;',
                    success: function (data) {
                        if (data.ContactName != "" && data.ContactName != null) {
                            setTimeout(function () {
                                $("#modalLogin").modal('toggle');
                            }, 100);
                            $("#divLoginButton").fadeOut();
                            $("#divProfile").fadeIn();
                            displayName(data.ContactName);
                            $("#profileName").val(data.ContactName)
                            $("#ProfileGender").val(data.Gender)
                            $("#profileEmail").val(data.UserMail)
                            $("#profileAddress").val(data.Address)
                            $("#profileCity").val(data.City)
                            $("#profileCountry").val(data.Country)
                            $("#profileFax").val(data.Fax)
                            $("#profilePhone").val(data.Phone)
                            $("#profilePostalCode").val(data.PostalCode)
                        }
                        else
                        {
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Login Failed, Please Check Your Username and Password")
                            $("#msgDisclaim").text("");
                        }

                    }
                })
            }
        })
        $(".signupShortFilm").click(function (e) {
            var piffContact = $("#profileName").val();
            if (piffContact == "") {
                $("#modalMsgJoin").modal('toggle');
                $("#texJoinMsg").text("Please sign in / sign up to Register");
                return;
            }
            e.preventDefault();
            $("#shortFilmModal").modal("toggle");
        })

        $("#register").click(function () {
            if ($("#frmPIFFRegistration").parsley().validate()) {
             $.ajax({
                type: 'POST',
                url: '@Url.Action(MVC.PIFF.RegisterPIFFUser())',
                data: JSON.stringify({
                    UserName: $("#RegisName").val(),
                    UserMail: $("#RegisMail").val(),
                    Address: $("#RegisAddress").val(),
                    Gender: $("#RegisGender").val(),
                    City: $("#RegisCity").val(),
                    UserPassword : $("#RegisPassword").val(),
                    PostalCode: $("#RegisPostalCode").val(),
                    Country: $("#RegisCountry").val(),
                    Phone: $("#RegisPhone").val(),
                    Fax: $("#RegisFax").val(),
                }),
                dataType: 'JSON',
                contentType: 'application/json;',
                success: function (data) {
                    setTimeout(function () {
                        if (data == 2) {
                            $("#modalRegister").modal('toggle');
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Registration Success, Please Sign-In")
                            $("#msgDisclaim").text("");
                        }
                        else
                        {
                            $("#modalRegister").modal('toggle');
                            $("#modalMsg").modal('toggle');
                            $("#textMsg").text("Registration Failure, Your email already registered")
                            $("#msgDisclaim").text("");
                        }
                    }, 500);

                }
            })
            }
        })
        function displayName(data)
        {
            $("#profName").text(data);
        }
        function getDataPIFF(year) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action(MVC.PIFF.GetPIFFAjaxData())',
                data: JSON.stringify({ year: year }),
                dataType: 'JSON',
                contentType: 'application/json;',
                success: function (data) {
                    var containerMovie = $("#movieContent");
                    var containerCoach = $("#coachContent");
                    //remove prev element
                    containerMovie.children().empty();

                    var dateshowprint = null;
                    var statprint = 0;

                    //append new loaded element
                    $.each(data.movieScreen, function (k, v) {
                        var total = data.movieScreen.length;
                        var imageMovie = v.Image;
                        var activeMovie = "active";
                        if (k > 0) {
                            activeMovie = "";
                        }

                        if (dateshowprint == null) {
                            dateshowprint = v.StartDate;
                        }

                        if (dateshowprint == v.StartDate) {

                            if (statprint == 0) {
                                containerMovie.append(" <div class='movie-title col - 12 text - center' id='DateShowMovie' ><H3>" + v.StartDateDayName + ", " + dateshowprint + "</H3></div>");
                                statprint = 1;
                            }
                            //containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive' data-toggle='modal' data-target='#MyModal1' src='" + imageMovie + "' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='Directed by  " + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-synopsis='" + v.Description + "'></div></div>");
                            containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive btnDescribeEvent' src='" + imageMovie + "' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorRate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink +  "' data-synopsis='" + v.Description + "'></div></div>");
                            dateshowprint = v.StartDate;

                        } else if (v.StartDate != dateshowprint) {
                            dateshowprint = v.StartDate;
                            statprint = 0;
                            if (statprint == 0) {
                                containerMovie.append(" <div class='movie-title col - 12 text - center' id='DateShowMovie' ><H3>" + v.StartDateDayName + ", " + dateshowprint + "</H3></div>");
                                statprint = 1
                            }
                            containerMovie.append("<div class='movie-item item" + activeMovie + " style='padding-bottom:10px; swiper-slide'> <div class='movie-image' style='background-image:url(" + imageMovie + ");'><img class='img-responsive btnDescribeEvent' src='" + imageMovie + "' data-image='" + imageMovie + "' data-title='" + v.EventName + "' data-created='" + v.DirectedBy + "' data-EventID='" + v.EventID + "' data-starring='" + v.Starring + "' data-censorRate='" + v.CensorRate + "' data-genre='" + v.genre + "' data-language='" + v.Language + "' data-subtitle='" + v.Subtitle + "' data-duration='" + v.Duration + "' data-videolink='" + v.VideoLink + "' data-synopsis='" + v.Description + "'></div></div>");

                        }


                    });
                    var swiper = new Swiper('.swiper-container', {
                        slidesPerView: 'auto',
                        centeredSlides: false,
                        loop: true,
                        slidesPerGroup: 1,
                        spaceBetween: 50,
                        pagination: {
                            el: '.swiper-pagination',
                            type: 'bullets',
                            clickable: true
                        },
                        observer: true
                    });
                    setTimeout(function () {

                        //var mySwiper = document.querySelector('.swiper-container').swiper
                        //mySwiper.update(true);
                        $.LoadingOverlay("hide");
                        },4000)

                    if (year == @DateTime.Now.Year) {
                        containerCoach.children().remove();
                        $.each(data.movieClinic, function (k, v) {

                            var imageClinic = v.Image;
                            var activeClinic = "active";
                            if (k > 0) {
                                activeClinic = "";
                            }
                            containerCoach.append(" <div class='movie-item item " + activeClinic + "'style='padding-bottom:10px;'> <div class='movie-image' style='background-image:url(" + imageClinic + ");'><img class='img-responsive' src='" + imageClinic + "'></div><div class='title movClin'>" + v.EventName + "</div><div class='created movClin'></div><div class='pick-group'><div class='movie-date'>" + v.StartDate + "</div><div>2PM-4PM</div></div>")

                        });
                    }

                    //add click event on new appended element
                    //$(document).on('click', '.synopsis-button', function (e) {
                    //});
                    var currentTime = new Date();
                    if (year != currentTime.getFullYear()) {
                        $("#event-form").css("display", "none");
                    }
                    else {
                        $("#event-form").css("display", "block");
                    }

                }
            })
            //var swiper = new Swiper('.swiper-container', {
            //    slidesPerView: 3,
            //    centeredSlides: false,
            //    loop: false,
            //    slidesPerGroup: 1,
            //    spaceBetween: 50,
            //    pagination: {
            //        el: '.swiper-pagination',
            //        type: 'bullets',
            //        clickable: true
            //    },
            //    observer: true
            //});
        };
        $("#UpdateProfile").click(function () {
            $("#frmProfileUpdate").parsley().validate();
            $.ajax({
                type: 'POST',
                url: '@Url.Action(MVC.PIFF.UpdatePIFFUser())',
                data: JSON.stringify({
                    UserName: $("#profileName").val(),
                    UserMail: $("#profileEmail").val(),
                    Address: $("#profileAddress").val(),
                    Gender:$("#ProfileGender").val(),
                    City: $("#profileCity").val(),
                    PostalCode: $("#profilePostalCode").val(),
                    Country: $("#profileCountry").val(),
                    Phone: $("#profilePhone").val(),
                    Fax: $("#profileFax").val(),
                }),
                dataType: 'JSON',
                contentType: 'application/json;',
                success: function (data) {
                    if (data == "OK") {
                        $("#ModalProfile").modal('toggle');
                        $("#modalMsg").modal('toggle');
                        $("#textMsg").text("Success updated profile")
                        $("#msgDisclaim").text("");
                    }
                    else
                    {
                        $("#modalMsg").modal('toggle');
                        $("#textMsg").text("Error updating profile")
                        $("#msgDisclaim").text("");
                    }
                }
            })
        })
        $(document).on('click', '.btnDescribeEvent', function (e) {
            e.preventDefault();
            //var piffContact = $("#profileName").val();
            //if (piffContact == "") {
            //    $("#modalMsgJoin").modal('toggle');
            //    $("#texJoinMsg").text("Please sign in / sign up to Register");
            //    return;
            //}
            var image = $(this).data('image');
            var directedBy = $(this).data('created')
            var title = $(this).data('title');
            var created = $(this).data('created');
            var synopsis = $(this).data('synopsis');
            var eventid = $(this).data("eventid");
            var starring = $(this).data("starring");
            var censorRate = $(this).data("censorRate");
            var genre = $(this).data("genre");
            var language = $(this).data("language");
            var subtitle = $(this).data("subtitle");
            var duration = $(this).data("duration");
            var videoLink = $(this).data("videolink");
            //alert(image + directedBy + title + synopsis + eventid);
            $("#EventIDHidden").val(eventid);
            $("#btnRegisMov").data('event-id', eventid); // untuk sent nilai ke HTML
            $("#btnRegisMov").data('title', title); // untuk sent nilai ke HTML
            $('#titleSynop').html(title);
            $('#imgSynop').attr('src', image);
            $('#descSynop').html(synopsis);
            $('#DirectedBySynop').html("DIRECTOR : " + directedBy + "<br />");
            $('#StarringSynop').html("STARRING : " + starring + "<br />");
            $('#CensorRateSynop').html("CENSOR RATING : " + censorRate + "<br />");
            $('#GenreSynop').html("GENRE : " + genre + "<br />");
            $('#LanguageSynop').html("LANGUAGE : " + language + "<br />");
            $('#SubtitleSynop').html("SUBTITLE : " + subtitle + "<br />");
            $('#DurationSynop').html("DURATION: " + duration + "<br />");
            $('#VideoLinkSynop').attr('src', videoLink);
            //alert(videoLink);
            $("#modalSynop").modal('show');
            //$('.synopsis-image img').attr('src', image);
            //$('.synopsis-title').html(title);
            //$('.synopsis-created').html(created);
            //$('.synopsis-text').html(synopsis);
            $('.event-modal-event-id').val(eventid);
            //$('#event-nowshowing-synopsis-wrapper').fadeIn();
            var eventId = $(this).attr("data-eventid");
            var modal = $("#eventModal");
            $("input[name=movie][value=" + eventId + "]").prop('checked', true);
            //modal.modal('show')
        })

        $(document).on('click', '#btnRegisMov', function (e) {
            e.preventDefault();
            //var piffContact = $("#profileName").val();
            //if (piffContact == "") {
            //    $("#modalMsgJoin").modal('toggle');
            //    $("#texJoinMsg").text("Please sign in / sign up to Register");
            //    return;
            //}
            //var image = $(this).data('image');
            //var directedBy = $(this).data('created')
            //var title = $(this).data('title');
            //var created = $(this).data('created');
            //var synopsis = $(this).data('synopsis');
            //var eventid = $(this).data("eventid");
            //var starring = $(this).data("starring");
            //var censorRate = $(this).data("censorRate");
            //var genre = $(this).data("genre");
            //var language = $(this).data("language");
            //var subtitle = $(this).data("subtitle");
            //var duration = $(this).data("duration");
            //var videoLink = $(this).data("videolink");
            //alert(image + directedBy + title + synopsis + eventid);
            //$('#titleSynop').html(title);
            //$('#imgSynop').attr('src', image);
            //$('#descSynop').html(synopsis);
            //$('#DirectedBySynop').html("DIRECTOR : " + directedBy + "<br />");
            //$('#StarringSynop').html("STARRING : " + starring + "<br />");
            //$('#CensorRateSynop').html("CENSOR RATING : " + censorRate + "<br />");
            //$('#GenreSynop').html("GENRE : " + genre + "<br />");
            //$('#LanguageSynop').html("LANGUAGE : " + language + "<br />");
            //$('#SubtitleSynop').html("SUBTITLE : " + subtitle + "<br />");
            //$('#DurationSynop').html("DURATION: " + duration + "<br />");
            //$('#VideoLinkSynop').attr('src', videoLink);
            //alert(videoLink);
            alert($(this).data("event-id") + $(this).data("title"));
            var eventid = $("#EventIDHidden").val();
            $("#btnbookticket1").data('event-id', eventid);
            $("#btnbookticket2").data('event-id', eventid);
            $("#modalSynop").modal('toggle');
            $("#MyModal1").modal('show');
            $("#formregisticket1").hide();
            $("#formregis2").hide();
            $("#btnbookticket2").hide();

            //$('.synopsis-image img').attr('src', image);
            //$('.synopsis-title').html(title);
            //$('.synopsis-created').html(created);
            //$('.synopsis-text').html(synopsis);
            $('.event-modal-event-id').val(eventid);
            //$('#event-nowshowing-synopsis-wrapper').fadeIn();
            var eventId = $(this).attr("data-eventid");
            var modal = $("#eventModal");
            $("input[name=movie][value=" + eventId + "]").prop('checked', true);
            //modal.modal('show')
        })



        $(document).on('click', '.button-RegisterMovie', function () {
            //var eventId = $('.event-modal-event-id').val();
            var eventId = $(this).data('event-id');
            //alert(eventId);
            $("#RegisScreening").data('event-ids', eventId);
            var modal = $("#eventModal");
            $("input[name=movie][value=" + eventId + "]").prop('checked', true);
            modal.modal('show')
        })
        $(document).on('click', '.btnRegisterOutClin', function () {
            var piffContact = $("#profileName").val();
            if (piffContact == "") {
                $("#modalMsgJoin").modal('toggle');
                $("#texJoinMsg").text("Please sign in / sign up to join the class");

                return;
            }
            var eventId = $(this).attr("data-eventid");
            var modal = $("#coachModal");
            $("input[name=clinic][value=" + eventId + "]").prop('checked', true);
            modal.modal('show');
        });
        //$('#RegisPassword').keyup(function (e) {
        //    var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
        //    var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
        //    var enoughRegex = new RegExp("(?=.{6,}).*", "g");
        //    if (false == enoughRegex.test($(this).val())) {
        //        $('#passstrength').html('More Characters');
        //    } else if (strongRegex.test($(this).val())) {
        //        $('#passstrength').className = 'ok';
        //        $('#passstrength').html('Strong!');
        //    } else if (mediumRegex.test($(this).val())) {
        //        $('#passstrength').className = 'alert';
        //        $('#passstrength').html('Medium!');
        //    } else {
        //        $('#passstrength').className = 'error';
        //        $('#passstrength').html('Weak!');
        //    }
        //    return true;
        //});

        //Function buat date Picker - Ridhal
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);

        $("#regis1").click(function () {
            //alert("regis1");
            //$("#MyModal1").modal('hide');
            //$("#modalSynop").modal('show');
            $("#formregisticket1").hide();
            $("#formregis2").hide();
            $("#btnbookticket2").hide();
            $("#btnbookticket1").show();
            $('#regis1').removeClass('outer-wrapper');
            $('#regis1').addClass('outer-wrapper-chosen');
            $('#regis2').removeClass('outer-wrapper-chosen');
            $('#regis2').addClass('outer-wrapper');


        })

        $("#regis2").click(function () {

            // alert("regis2");
            $("#formregisticket1").show();
            $("#formregis2").show();
            $("#btnbookticket1").hide();
            $("#btnbookticket2").show();
            $('#regis2').removeClass('outer-wrapper');
            $('#regis2').addClass('outer-wrapper-chosen');
            $('#regis1').removeClass('outer-wrapper-chosen');
            $('#regis1').addClass('outer-wrapper');
        })

        $("#btnbookticket1").click(function () {
            var nama1 = $("#RegisName").val();
            var dob1 = $("#regisdate").val();
            var email1 = $("#RegisMail").val();
            var phone1 = $("#RegisPhone").val();


            if (nama1 == "") { $('#requiredRegisName').html("*"); }
            else if (dob1 == "") { $('#requiredregisdate').html("*"); }
            else if (email1 == "") { $('#requiredRegisMail').html("*"); }
            else if (phone1 == "") { $('#requiredRegisPhone').html("*"); }
            else {
                //alert(nama1);
                //$('#requiredregisdate').html("");
                //$('#requiredRegisName').html("");
                //$('#requiredRegisMail').html("");
                //$('#requiredRegisPhone').html("");
                $.ajax({
                type: 'POST',
                url: '@Url.Action(MVC.PIFF.PIFFRegisterParticipant())',
                    data: JSON.stringify({
                        EventCode: $(this).data('eventcode'),
                        EventID: $(this).data('event-id'),
                        Amount: $(this).data('ticket'),
                        ParticipantName: nama1,
                        ParticipantDoBirth: dob1,
                        ParticipantEmail: email1,
                        ParticipantPhone: phone1,
                        ParticipantName2: null,
                        ParticipantDoBirth2: null,
                        ParticipantEmail2: null,
                        ParticipantPhone2: null,
                }),
                dataType: 'JSON',
                contentType: 'application/json;',
                success: function (data) {
                    setTimeout(function () {

                        if (data == 1) {
                            alert("Your request has been submitted. Kindly check your email for further information");
                            $("#modalSynop").modal('hide');
                            $("#MyModal1").modal('hide');
                            $("#textMsg").text("");
                        } else if (data == 99) {
                            $("#textMsg").text("You and Your friend have been registered before with this movie/event");
                        } else if (data == 98) {
                            $("#textMsg").text("You have been registered before with this movie/event");
                        } else if (data == 97) {
                            $("#textMsg").text("Your friend has been registered before with this movie/event");
                        }

                    }, 500);

                }
                }) //end ajax

            }

        })

        $("#btnbookticket2").click(function () {
            var nama1 = $("#RegisName").val();
            var dob1 = $("#regisdate").val();
            var email1 = $("#RegisMail").val();
            var phone1 = $("#RegisPhone").val();
            var nama2 = $("#RegisName2").val();
            var dob2 = $("#regisdate2").val();
            var email2 = $("#RegisMail2").val();
            var phone2 = $("#RegisPhone2").val();

            if (nama1 == "") { $('#requiredRegisName').html("*"); }
            else if (dob1 == "") { $('#requiredregisdate').html("*"); }
            else if (email1 == "") { $('#requiredRegisMail').html("*"); }
            else if (phone1 == "") { $('#requiredRegisPhone').html("*"); }
            else if (nama2 == "") { $('#requiredRegisName2').html("*"); }
            else if (dob2 == "") { $('#requiredregisdate2').html("*"); }
            else if (email2 == "") { $('#requiredRegisMail2').html("*"); }
            else if (phone2 == "") { $('#requiredRegisPhone2').html("*"); }
            else {

                //alert(nama1);
                //$('#requiredregisdate').html("");
                //$('#requiredRegisName').html("");
                //$('#requiredRegisMail').html("");
                //$('#requiredRegisPhone').html("");
                $.ajax({
                type: 'POST',
                url: '@Url.Action(MVC.PIFF.PIFFRegisterParticipant())',
                    data: JSON.stringify({
                        EventCode: $(this).data('eventcode'),
                        EventID: $(this).data('event-id'),
                        Amount: $(this).data('ticket'),
                        ParticipantName: nama1,
                        ParticipantDoBirth: dob1,
                        ParticipantEmail: email1,
                        ParticipantPhone: phone1,
                        ParticipantName2: nama2,
                        ParticipantDoBirth2: dob2,
                        ParticipantEmail2: email2,
                        ParticipantPhone2: phone2,
                }),
                dataType: 'JSON',
                contentType: 'application/json;',
                success: function (data) {
                    setTimeout(function () {

                        if (data == 1) {
                            alert("Your request has been submitted. Kindly check your email for further information");
                            $("#modalSynop").modal('hide');
                            $("#MyModal1").modal('hide');
                            $("#textMsg").text("");
                        } else if (data == 99) {
                            $("#textMsg").text("You and Your friend have been registered before with this movie/event");
                        } else if (data == 98) {
                            $("#textMsg").text("You have been registered before with this movie/event");
                        } else if (data == 97) {
                            $("#textMsg").text("Your friend has been registered before with this movie/event");
                        }

                    }, 500);

                }
                }) //end ajax


            }

        })

    })



</script>
