﻿@model PIRShoppingMall.data.newsletter

@{
    var imagelist = (List<PIRShoppingMall.data.image>)ViewBag.imageList;
    ViewBag.Title = "Newsletter | AddEdit";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
    string buttonType = string.Empty;

    if (Model.newsletter_id != 0)
    {
        buttonType = "Save";

        ViewBag.Title = "Plaza Indonesia | Newsletter | Add Image";
        
      
    }
    else
    {

        ViewBag.Title = "Plaza Indonesia | Newsletter | Edit Image";
        buttonType = "Submit";
    }
}
<style>
    .show-news {
        border: 1px dashed grey;
        cursor: pointer;
        height: 120px;
        position: relative;
        width: 100%;
    }

    .show-news-text {
        bottom: 0;
        height: 30px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 100px;
    }

    #news-2, #news-3 {
        height: 60px;
    }

    #news-wrap {
        display: inline-block;
        vertical-align: top;
        margin-right: 2px;
        width: 50%;
    }

    .news-active {
        background: #f9dd9a none repeat scroll 0 0;
    }

    .uploadifive-button {
        background-image: none;
        background-repeat: repeat-x;
        border: 1px solid #bbbbbb;
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        padding: 4px 12px;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
    }
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Management.Dashboard.LandingPage())">Home</a></li>
        <li><a href="@Url.Action(MVC.Management.Newsletter.List())">Newsletter List</a></li>
        @if (Model.newsletter_id != 0)
        {
            <li class="active">Edit Newsletter</li>
        }
        else
        {
            <li class="active">Add Newsletter</li>
        }

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    @if (Model.newsletter_id != 0)
    {
        <h1 class="page-header">Edit Newsletter</h1>
    }
    else
    {
        <h1 class="page-header">Add Newsletter</h1>
    }
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    <div class="control-group" style="width:300px;margin:0 auto 30px;">
                        <div id="news-1" class="show-news" onclick="show_news(1,this)"><div class="show-news-text">section1</div></div>
                        <div id="news-wrap">
                            <div id="news-2" class="show-news" onclick="show_news(2,this)"><div class="show-news-text">section2</div></div>
                            <div id="news-3" class="show-news" onclick="show_news(3,this)"><div class="show-news-text">section3</div></div>
                        </div>
                        <div id="news-4" style=" display: inline-block;vertical-align: top;width: 48%;" class="show-news" onclick="show_news(4,this)">
                            <div class="show-news-text">section4</div>
                        </div>

                        <div id="news-5" class="show-news" onclick="show_news(5,this)"><div class="show-news-text">section5</div></div>

                    </div>
                    <div class="control-group component" style="display:none;" id="component-5-imglist">
                        <label class="col-md-2 control-label" style="text-align:right!important">Image</label>
                        <div class="controls">
                            <div class="col-md-10 control-group" style="min-height:145px;max-height:254px;overflow-y:auto;margin-bottom:10px!important">
                                @foreach (var item in imagelist)
                                {
                                    <img src="@item.image_image" class="imgs" style="display: block;max-width:230px;max-height:95px;width: auto;height: auto;" name="@item.image_id" />

                                }
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm(MVC.Management.Newsletter.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormAddArticle" }))
                    {
                        <div class="form-group component" style="display:none" id="component-1">
                            <label class="col-md-2 control-label" style="text-align:right!important">Image (1440x684px)</label>
                            <div class="col-md-9">
                                @*<div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" id="preview-1" style="width: 200px; height: 150px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="component1"></span>
                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>*@
                                    <label class="control-label">Select File</label>
                                    <input id="input-1" type="file" class="file" name="component1" >

                            </div>
                        </div>
                        <div class="form-group component" style="display:none" id="component-2">
                            <label class="col-md-2 control-label" style="text-align:right!important">Image (450x400px)</label>
                            <div class="col-md-9">
                                @*<div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" id="preview-2" style="width: 200px; height: 150px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="component2"></span>
                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>*@
                                <label class="control-label">Select File</label>
                                <input id="input-2" type="file" class="file" name="component2">
                            </div>
                        </div>
                        <div class="form-group component" style="display:none" id="component-2-title">
                            <label class="col-md-2 control-label" style="text-align:right!important">Title</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.newsletter_second_title, new { @class = "form-control", placeholder = "Title" })
                            </div>
                        </div>
                        <div class="form-group component" style="display:none" id="component-2-desc">
                            <label class="col-md-2 control-label" style="text-align:right!important">Description</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.newsletter_second_desc, new { @class = "form-control", placeholder = "Descripiton" })
                            </div>
                        </div>
                        <div class="form-group component" style="display:none" id="component-2-url">
                            <label class="col-md-2 control-label" style="text-align:right!important">URL</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.newsletter_second_url, new { @class = "form-control", placeholder = "URL" })
                            </div>
                        </div>
                        <div class="form-group component" style="display:none" id="component-3">
                            <label class="col-md-2 control-label" style="text-align:right!important">Image (900x400px)</label>
                            <div class="col-md-9">
                                @*<div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" id="preview-3" style="width: 200px; height: 150px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="component3"></span>
                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>*@
                                <label class="control-label">Select File</label>
                                <input id="input-3" type="file" class="file" name="component3">
                            </div>
                        </div>
                        <div class="form-group component" style="display:none" id="component-4">
                            <label class="col-md-2 control-label" style="text-align:right!important">Image (850x880px)</label>
                            <div class="col-md-9">
                                @*<div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" id="preview-4" style="width: 200px; height: 150px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="component4"></span>
                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>*@
                                <label class="control-label">Select File</label>
                                <input id="input-4" type="file" class="file" name="component4">
                            </div>
                        </div>
                        <div class="form-group component" style="display:none" id="component-4-desc">
                            <label class="col-md-2 control-label" style="text-align:right!important">Description</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.newsletter_fourth_desc, new { @class = "form-control", placeholder = "Descripiton" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">date</label>
                            <div class="col-md-9">
                                @*@Html.TextBoxFor(x => x.event_date, new { @class = "form-control datepicker", placeholder = "Event Date", @readonly = "readonly", })*@
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd-MM-yyyy">
                                    <input type="text" class="form-control" name="newsletter_date" value="@Model.newsletter_date.ToString("dd-MMMM-yyyy")" id="datepickerId">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">Status</label>
                            <div class="col-md-3">
                                <select name="status" class="form-control" id="optStatus">
                                    <option value="1">Enable</option>
                                    <option value="0">Disable</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-sm btn-success" onclick="return(false)">@buttonType</button>
                                <a href="@Url.Action(MVC.Management.Newsletter.List())"> <button type="button" class="btn btn-sm btn-success">Close</button> </a>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.newsletter_id, new {@id = "newsId" })
                        @Html.HiddenFor(x => x.newsletter_first_image, new { @id = "firstImage"})
                        @Html.HiddenFor(x => x.newsletter_second_image, new { @id = "secondImage"})
                        @Html.HiddenFor(x => x.newsletter_third_image, new { @id = "thirdImage" })
                        @Html.HiddenFor(x => x.newsletter_fourth_image, new { @id = "fourthImage" })
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<script>
    function show_news(id, el) {
        $(".show-news").removeClass("news-active");
        $(el).addClass("news-active");
        $(".component").fadeOut();
        $("#component-" + id).fadeIn();
        if (id == 2) {
            $("#component-2-" + "desc").fadeIn();
            $("#component-2-" + "title").fadeIn();
            $("#component-2-" + "url").fadeIn();
        }
        if (id == 4) {
            $("#component-4-" + "desc").fadeIn();
        }
        if (id == 5) {
            $("#component-5-" + "imglist").fadeIn();
        }
    }
    $(document).ready(function () {
        $("#input-1").fileinput({
            initialPreview: '@Model.newsletter_first_image',
            showRemove: false,
            initialPreviewShowDelete: false,
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image',
            showUpload: false
        });
        $("#input-2").fileinput({
            initialPreview: '@Model.newsletter_second_image',
            showRemove: false,
            initialPreviewShowDelete: false,
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image',
            showUpload: false
        });
        $("#input-3").fileinput({
            initialPreview: '@Model.newsletter_third_image',
            showRemove: false,
            initialPreviewShowDelete: false,
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image',
            showUpload: false
        });
        $("#input-4").fileinput({
            initialPreview: '@Model.newsletter_fourth_image',
            showRemove: false,
            initialPreviewShowDelete: false,
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image',
            showUpload: false
        });
        if ($("#newsId").val() != 0) {
            if ($("#firstImage").val() != "") {
                $("#preview-1").parent().removeClass("fileinput-new");
                $("#preview-1").parent().addClass("fileinput-exists");
                $("#preview-1").prepend("<img src='" + $("#firstImage").val() + "'/>");

            }
        }
        $(".imgs").imgCheckbox({
            onclick: function (el) {
                var isChecked = el.hasClass("imgChked");
                if (isChecked) {
                    var imageid = el.children()[0].name

                    var container = $(".form-horizontal");
                    container.append(" <input type='text' style='display:none' class='form-control' name='imageSlider' value='" + imageid + "'/>");
                }
                else {
                    var imageid = el.children()[0].name
                    var isExist = $("input[value='" + imageid + "']")
                    if (isExist.length > 0) {
                        isExist.remove();
                    }
                }
            },
            onload: function () {
                //enter onLoad event if status is edit
                @{ 
                   var checkedList = @Html.Raw(Json.Encode(ViewBag.checkedList));
               }
                var arrImg = JSON.parse('@checkedList');
                jQuery.each(arrImg, function () {
                    var state = $("img[name='" + this + "']")
                    state.parent().addClass("imgChked");
                    var container = $(".form-horizontal");
                    container.append(" <input type='text' style='display:none' class='form-control' name='imageSlider' value='" + this + "'/>");
                })
            }
        })
    })
</script>