﻿@model List<PIRShoppingMall.data.newsletter>
@{
    ViewBag.Title = "Newsletter | List";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
    var index = 1;
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function DeleteItem(itemID) {
        if (confirm("Are you sure you want to delete this Image?")) {
            self.location = "@(Url.Action(MVC.Management.Newsletter.Delete()))?id=" + itemID;
        }
    }
</script>
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Management.Dashboard.LandingPage())">Landing Page</a></li>
        <li class="active">Newsletter</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Manage Newsletter</h1>
    <!-- end page-header -->
    <a href="@Url.Action(MVC.Management.Newsletter.AddEdit(0))" class="btn btn-white btn-sm m-r-5">Add New</a>
    <br />
    <br />
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>No. </th>
                                    <th>Issue</th>
                                    <th>Top Image</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td style="vertical-align:middle">@index.ToString()</td>
                                        <td style="vertical-align:middle">@item.newsletter_date.ToString("MMMM yyyy")</td>
                                        <td style="vertical-align:middle"><img src="@item.newsletter_first_image" style="display: block; max-width: 230px; max-height: 95px; width: auto; height: auto;" />image</td>
                                        @if (item.status == 0)
                                        {
                                            <td style="vertical-align:middle"><span class="label label-danger">Disabled</span></td>
                                        }
                                        else
                                        {
                                            <td style="vertical-align:middle"> <span class="label label-success">Enabled</span></td>
                                        }
                                        <td style="vertical-align:middle;width:100px">
                                            <a href="@Url.Action(MVC.Management.Newsletter.AddEdit(item.newsletter_id))" class="btn btn-success btn-sm" style="margin:auto;" data-toggle="tooltip" title="edit">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                            <a onclick="DeleteItem('@item.newsletter_id')" class=" btn btn-danger btn-sm" style="margin:auto;" data-toggle="tooltip" title="delete">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                        index++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->

        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->
</div>