﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Plaza Indonesia</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/res/css/style.css">
</head>
<body>
    <div id="privilege-card">
        <div class="container-fluid">
            <div class="row">
                <div class="row-same-height">
                    <div class="col-md-4 col-md-height clean-col privilege-bg">
                        <div class="privilege-bg-inside">
                            <div class="privilege-title">Login</div>
                        </div>
                    </div>
                    <div class="col-md- col-md-height clean-col col-middle">
                        <div id="privilege-contact">
                            <div class="container-fluid">
                                <div class="contact-info">
                                    <h1>Login</h1>
                                </div>
                                <!--
            Link URL ajaxContact sebelumnya ke http://plazaindonesia.com/privilege/contact_api
            File fisiknya ada di folder /applications/controller/privilege.php, nama functionnya "contact_api"
        -->
                                <div class="col-md-6">
                                    @using (Html.BeginForm(MVC.Privilege.PrivilegeHome(), FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                         <input class="common-input" type="text" name="cardMember" placeholder="Card Number">
                                        <input class="common-input" type="text" name="mobilePhone" placeholder="Mobile Number">
                                        <div class="g-recaptcha" data-sitekey="6LdhywgTAAAAAPsSgQCiSB-liEVtL3jiuA5j2KY9"></div>
                                        <button class="common-button login-button btnPriv" onclick="return(false)">SUBMIT</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/res/js/jquery-3.2.1.min.js"></script>
    <script src="~/res/js/bootstrap.min.js"></script>
    <script src="~/res/js/bootstrap-datepicker.min.js"></script>
    <script src="~/res/js/owl.carousel.min.js"></script>
    <script src="~/res/js/jquery.media.js"></script>
    <script src="~/res/js/scripts-privilege-contact.js"></script>
    <script src="~/res/js/validationFormIndex.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
    </script>
</body>
</html>
