﻿@model PIRShoppingMall.data.FAQItemTb
@{
    ViewBag.Title = "FAQItemAddEdit";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
    string buttonType = string.Empty;
    if (Model.FAQItemId != 0)
    {
        buttonType = "Save";

        ViewBag.Title = "Plaza Indonesia | FAQ Item | Add FAQ Item";
    }
    else
    {

        ViewBag.Title = "Plaza Indonesia | FAQ Item | Edit FAQ Item";
        buttonType = "Submit";
    }
    
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Management.Dashboard.LandingPage())">Home</a></li>
        <li><a href="@Url.Action(MVC.Management.FAQ.ListFAQItem(Model.FAQID.GetValueOrDefault()))">FAQ List</a></li>
        @if (Model.FAQItemId != 0)
        {
            <li class="active">Edit FAQ Item</li>
        }
        else
        {
            <li class="active">Add FAQ Item</li>
        }

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    @if (Model.FAQItemId != 0)
    {
        <h1 class="page-header">Edit FAQ Item</h1>
    }
    else
    {
        <h1 class="page-header">Add FAQ Item</h1>
    }
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(MVC.Management.FAQ.FAQItemAddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormAddBanner" }))
                    {
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">FAQ Question</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.Question, new { @class = "form-control", placeholder = "FAQ Question", maxlength = "300" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">FAQ Answer</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.Answer, new { @class = "form-control", placeholder = "FAQ Answer", maxlength = "300" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">Is Active</label>
                            <div class="col-md-2">
                                @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-control", placeholder = "FAQ Header", maxlength = "300" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-sm btn-success" onclick="return(false)">@buttonType</button>
                                <a href="@Url.Action(MVC.Management.FAQ.ListFAQItem(Model.FAQID.GetValueOrDefault()))"> <button type="button" class="btn btn-sm btn-success">Close</button> </a>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.FAQItemId)
                        @Html.HiddenFor(x => x.FAQID)
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>
<!-- end #content -->

