﻿@model PIRShoppingMall.data.PIFFHeader
@{
    ViewBag.Title = "SetHeader";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
    string buttonType = string.Empty;
    if (Model.PiffHeaderID != string.Empty)
    {
        buttonType = "Save";

        ViewBag.Title = "Plaza Indonesia | FAQ | Add PIFF Header";
    }
    else
    {

        ViewBag.Title = "Plaza Indonesia | FAQ | Edit PIFF Header";
        buttonType = "Submit";
    }
}
<link href="~/Areas/Management/Assets/plugins/summernote-master/dist/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/Areas/Management/Assets/plugins/summernote-master/src/js/summernote.js"></script>
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Management.Dashboard.LandingPage())">Home</a></li>
        <li><a href="@Url.Action(MVC.Management.PIFFManagement.PIFFHeader())">PIFF Header</a></li>
        <li><a href="#">Set PIFF Header</a></li>
        @if (Model.PiffHeaderID != string.Empty)
        {
            <li class="active">Edit PIFF Header</li>
        }
        else
        {
            <li class="active">Add PIFF Header</li>
        }

    </ol>
    @if (Model.PiffHeaderID != string.Empty)
    {
        <h1 class="page-header">Edit PIFF Header</h1>
    }
    else
    {
        <h1 class="page-header">Add PIFF Header</h1>
    }
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(MVC.Management.PIFFManagement.SetHeader(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormAddBanner" }))
                    {
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">Text Header</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.PiffTextHeader, new { @class = "form-control", placeholder = "Text Header", maxlength = "100" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">Text Header</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.PiffTextDescription, new { @class = "form-control", placeholder = "Text Description", maxlength = "5000" ,@id = "PIFFDesc"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">Youtube Link</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.PiffYoutubeLink, new { @class = "form-control", placeholder = "Youtube Link", maxlength = "100" })
                            </div>
                        </div>
                        @*if (Model.isActive)
                        {
                            <div class="form-group">
                                <label class="col-md-2 control-label" style="text-align:right!important">Is Active</label>
                                <div class="col-md-1">
                                    @
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="col-md-2 control-label" style="text-align:right!important">Is Active</label>
                                <div class="col-md-1">
                                    <input type="checkbox" id="isActive" name="isActive" class="form-control"/>
                                </div>
                            </div>
                        }*@
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="text-align:right!important">Is Active</label>
                            <div class="col-md-1">
                                @Html.CheckBoxFor(x => x.isActive)
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.PiffHeaderID)
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-sm btn-success" onclick="return(false)">@buttonType</button>
                                <a href="@Url.Action(MVC.Management.PIFFManagement.PIFFHeader())"> <button type="button" class="btn btn-sm btn-success">Close</button> </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<script>
    $(document).ready(function () {
            //$('#PIFFDesc').summernote('destroy');
            $('#PIFFDesc').summernote({
                height: 300,
                minHeight: 300,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['arial']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]
            });

    })
</script>