﻿@model List<PIRShoppingMall.data.ContactTb>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
    var index = 1;
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Management.Dashboard.LandingPage())">Landing Page</a></li>
        <li class="active">Banner</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Manage Banner</h1>
    <!-- end page-header -->
    <a href="@Url.Action(MVC.Management.Banner.AddEdit(0))" class="btn btn-white btn-sm m-r-5">Add New</a>
    <br />
    <br />
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>No. </th>
                                    <th>Email</th>
                                    <th>Contact To</th>
                                    <th>Name</th>
                                    <td>Message</td>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td style="vertical-align:middle">@index.ToString()</td>
                                        <td style="vertical-align:middle">@item.Email </td>
                                        <td style="vertical-align:middle">@item.ContactTo</td>
                                        <td style="vertical-align:middle"> @item.Name</td>
                                        <td style="vertical-align:middle"> @item.Message</td>
                                        <td style="vertical-align:middle;width:100px">
                                            <a href="@Url.Action(MVC.Management.Contact.Detail(item.ContactId))" class="btn btn-success btn-sm" style="margin:auto;" data-toggle="tooltip" title="detail">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->

        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->
</div>



