﻿@using System.Globalization
@{

    CultureInfo ci = new CultureInfo("en-US");
    Layout = null;
    var BlogHead = (PIRShoppingMall.data.other_blog_data)ViewBag.BlogHead;
    var BlogItem = (List<PIRShoppingMall.data.blog>)ViewBag.BlogItem;
    string CompleteMonth = (String)ViewBag.Month;
    DateTime blogDateTime = BlogHead.blog_date;
    var prevMonth = blogDateTime.AddMonths(-1).ToString("MMMM");
    var nextMonth = blogDateTime.AddMonths(1).ToString("MMMM");
    var prevMonthYear = blogDateTime.AddMonths(-1).ToString("yyyy");
    var nextMonthYear = blogDateTime.AddMonths(1).ToString("yyyy");
    string blogDate = CompleteMonth + " " + blogDateTime.Year.ToString();
    var blogSlide = (List<PIRShoppingMall.data.blog_image>)ViewBag.blogSlider;
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Plaza Indonesia</title>

    <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/res/css/font-awesome.min.css">
    <link rel="stylesheet" href="/res/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/res/css/style.css">
</head>
<body>
    <div id="main-wrapper">
        <div class="mobile-menu-header visible-xs">
            <div class="menu-bar visible-xs"><span class="fa fa-bars"></span></div>
            <nav class="mobile-menu">
                <ul>
                    <li><a href="./index.html#home">Home</a></li>
                    <li class="wo">
                        <a>What`s Happening</a>
                        <ul class="sub-menu">
                            <li><a href="./index.html#events">Event</a></li>
                            <li><a href="./event-archive.html">Event Archive</a></li>
                            <li><a href="./index.html#promo">Promotion</a></li>
                            <li><a href="./index.html#now-open">Now Open</a></li>
                        </ul>
                    </li>
                    <li><a href="./index.html#highlights">Highlights Of The Month</a></li>
                    <li><a href="./highlights-archive.html">Highlights Archive</a></li>
                    <li><a href="./index.html#blog">Blog</a></li>
                    <li><a href="./blog-archive.html">Blog Archive</a></li>
                    <li><a href="./index.html#privilege">Shopping Privileges</a></li>
                    <li><a href="./index.html#directory">Directory</a></li>
                    <li><a href="./index.html#contact">Contact Us</a></li>
                </ul>
                <div class="social-logo">
                    <a target="_blank" href="https://twitter.com/plazaindonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-twitter"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-facebook"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-instagram"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-google-plus"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </nav>
            <div class="social-logo hidden-xs">
                <a target="_blank" href="https://twitter.com/plazaindonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-twitter"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-facebook"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-instagram"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-google-plus"></span>
                        </div>
                    </div>
                </a>
            </div>
            <img class="main-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg">
        </div>
        <section id="menu" class="hidden-xs">
            <img class="affix-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg">
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="./index.html#home">Home</a></li>
                        <span class="separator">/</span>
                        <li class="wo">
                            <a href="./index.html#whats-happening">What's Happening</a>
                            <ul class="sub-menu bot">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="./event-archive.html">Event Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li>
                            <a href="./index.html#highlights">Highlights Of The Month</a>
                            <ul class="sub-menu bot highlights">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="./highlights-archive.html">Highlights Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li>
                            <a href="./index.html#blog">Blog</a>
                            <ul class="sub-menu bot blog">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="./blog-archive.html">Blog Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li><a href="./index.html#privilege">Shopping Privileges</a></li>
                        <span class="separator">/</span>
                        <li><a href="./index.html#directory">Directory</a></li>
                        <span class="separator">/</span>
                        <li><a href="./index.html#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="archive" id="blog">
            <div class="event-wrapper">
                <div class="section-header">
                    <div class="container">
                        <div class="title">Blog</div>
                        <div class="title-desc">@blogDate</div>
                        <div class="month-nav">
                            <div class="container">
                                <div class="col-xs-6 navigate prev">
                                    <a href="@Url.Action("/BlogArchive/" + prevMonth + "/" + prevMonthYear)"> <span class="fa fa-angle-double-left"></span> previous month</a>
                                </div>
                                <div class="col-xs-6 navigate next">
                                    @if (blogDateTime.Month == DateTime.Now.Month && blogDateTime.Year == DateTime.Now.Year)
                                    {
                                        /**/
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("/Blogarchive/" + nextMonth + "/" + nextMonthYear)">next month <span class="fa fa-angle-double-right"></span> </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <!--
                        Kurang lebih sama seperti cara loop item-item pada Blog Content pada index.html
                        Element HTML yang di-loop adalah sebesar "Blog Archive Carousel item Container".
                    -->
                    <div class="blog-slider row">
                        @if (BlogItem.Count() != 0)
                        {


                            @foreach (var item in BlogItem)
                            {
                                <div class="col-sm-3 col-xs-6">
                                    <figure class="item" style="background-image:url('@item.image.image_image');background-size:100% 100%;">
                                        <img class="img-responsive" src="@item.image.image_image" alt="Calvin Klein" style="opacity:0;">
                                        <figcaption class="item-desc-wrapper">
                                            <h1 class="title">@item.blog_title</h1>
                                            <div class="content dot">@item.blog_desc</div>
                                            <div class="content-full">@item.blog_desc</div>
                                            @{
                                                var BlogimageList = blogSlide.Where(x => x.blog_id == item.blog_id);
                                                string urlCollection = ">";
                                                foreach (var items in BlogimageList)
                                                {
                                                    urlCollection += items.image.image_image + ">";
                                                }
                                                urlCollection = urlCollection.Remove(urlCollection.Length - 1);
                                            }
                                            <div class="see-more" data-blogimages="@urlCollection">See Details</div>
                                        </figcaption>
                                    </figure>
                                </div>
                                                }
                                                }
                                                else
                                                {
                                                    <p>No content found, please select a different monthk</p>
                                                }
                        <!-- start Blog Archive Carousel item Container -->
                        @*
                            <script type="application/ld+json">
                                {
                                "context": "http://schema.org",
                                "type": "NewsArticle",
                                "headline": "Calvin Klein | Blog | Plaza Indonesia ",
                                "alternativeHeadline": "Calvin Klein | Plaza Indonesia",
                                "image": [
                                "./res/uploads/1504602897.jpg",
                                "./res/uploads/1504602687.jpg",
                                "./res/uploads/1504602695.jpg",
                                "./res/uploads/1504602728.jpg",
                                "./res/uploads/1504602751.jpg",
                                "./res/uploads/1504602767.jpg",
                                "./res/uploads/1504602586.jpg",
                                "./res/uploads/1504602885.jpg",
                                "./res/uploads/1504602677.jpg"
                                ],
                                "datePublished": "2017-09-01",
                                "description": "Raf Simons said that Calvin Klein menswear Fall 2017 collection can be portrayed as “All of these different people with different styles and dress codes. It’s the future, the past, Art Deco, the city, the American West, all of these things and none of these things. Not one era, not one thing, not one look. It is the coming together of different characters and different individuals, just like America itself. It is the unique beauty and emotion of America.” This season, Calvin Klein menswear collection embraces the tough tailoring in the form of suits and topcoats. There were western-inspired button-ups with various color pockets, turtlenecks, and a small number of nude-hued knits paired with athletic-inspired striped sleeves. Image courtesy of Vogue.",
                                "articleBody": "Raf Simons said that Calvin Klein menswear Fall 2017 collection can be portrayed as “All of these different people with different styles and dress codes. It’s the future, the past, Art Deco, the city, the American West, all of these things and none of these things. Not one era, not one thing, not one look. It is the coming together of different characters and different individuals, just like America itself. It is the unique beauty and emotion of America.” This season, Calvin Klein menswear collection embraces the tough tailoring in the form of suits and topcoats. There were western-inspired button-ups with various color pockets, turtlenecks, and a small number of nude-hued knits paired with athletic-inspired striped sleeves. Image courtesy of Vogue."
                                }
                            </script>*@
                        @*<div class="col-sm-3 col-xs-6">
                                <figure class="item" style="background-image:url('./res/uploads/1504602677.jpg');background-size:100% 100%;">
                                    <img class="img-responsive" src="./res/uploads/1504602677.jpg" alt="Calvin Klein" style="opacity:0;">
                                    <figcaption class="item-desc-wrapper">
                                        <h1 class="title">Calvin Klein</h1>
                                        <div class="content dot">Raf Simons said that Calvin Klein menswear Fall 2017 collection can be portrayed as “All of these different people with different styles and dress codes. It’s the future, the past, Art Deco, the city, the American West, all of these things and none of these things. Not one era, not one thing, not one look. It is the coming together of different characters and different individuals, just like America itself. It is the unique beauty and emotion of America.” This season, Calvin Klein menswear collection embraces the tough tailoring in the form of suits and topcoats. There were western-inspired button-ups with various color pockets, turtlenecks, and a small number of nude-hued knits paired with athletic-inspired striped sleeves. Image courtesy of Vogue.</div>
                                        <div class="content-full">Raf Simons said that Calvin Klein menswear Fall 2017 collection can be portrayed as “All of these different people with different styles and dress codes. It’s the future, the past, Art Deco, the city, the American West, all of these things and none of these things. Not one era, not one thing, not one look. It is the coming together of different characters and different individuals, just like America itself. It is the unique beauty and emotion of America.” This season, Calvin Klein menswear collection embraces the tough tailoring in the form of suits and topcoats. There were western-inspired button-ups with various color pockets, turtlenecks, and a small number of nude-hued knits paired with athletic-inspired striped sleeves. Image courtesy of Vogue.</div>
                                        <div class="see-more" data-blogimages=">1504602897.jpg>1504602687.jpg>1504602695.jpg>1504602728.jpg>1504602751.jpg>1504602767.jpg>1504602586.jpg>1504602885.jpg>1504602677.jpg">See Details</div>
                                    </figcaption>
                                </figure>
                            </div>*@
                        <!-- end Blog Archive Carousel item Container -->
                        @*
                            <script type="application/ld+json">
                                {
                                "context": "http://schema.org",
                                "type": "NewsArticle",
                                "headline": "Kenzo | Blog | Plaza Indonesia ",
                                "alternativeHeadline": "Kenzo | Plaza Indonesia",
                                "image": [
                                "./res/uploads/1504672514.jpg",
                                "./res/uploads/1504672410.jpg",
                                "./res/uploads/1504672527.jpg",
                                "./res/uploads/1504672479.jpg",
                                "./res/uploads/1504672534.jpg",
                                "./res/uploads/1504672489.jpg",
                                "./res/uploads/1504672497.jpg",
                                "./res/uploads/1504672505.jpg"
                                ],
                                "datePublished": "2017-09-01",
                                "description": "Inspired by Arctic surfing, a full house of them in this offbeat lineup, which matched with layering and a first-rate extensive color tone, from polar white to olive green. The wild sport prompted Humberto Leon to reflect cold-weather clothes through a balmy filter. The aurora borealis prints appeared on items including dress-length cable knit men’s sweaters worn under jackets. Image courtesy of Vogue.",
                                "articleBody": "Inspired by Arctic surfing, a full house of them in this offbeat lineup, which matched with layering and a first-rate extensive color tone, from polar white to olive green. The wild sport prompted Humberto Leon to reflect cold-weather clothes through a balmy filter. The aurora borealis prints appeared on items including dress-length cable knit men’s sweaters worn under jackets. Image courtesy of Vogue."
                                }
                            </script>*@
                        @*<div class="col-sm-3 col-xs-6">
                                <figure class="item" style="background-image:url('./res/uploads/1504672479.jpg');background-size:100% 100%;">
                                    <img class="img-responsive" src="./res/uploads/1504672479.jpg" alt="Kenzo" style="opacity:0;">
                                    <figcaption class="item-desc-wrapper">
                                        <h1 class="title">Kenzo</h1>
                                        <div class="content dot">Inspired by Arctic surfing, a full house of them in this offbeat lineup, which matched with layering and a first-rate extensive color tone, from polar white to olive green. The wild sport prompted Humberto Leon to reflect cold-weather clothes through a balmy filter. The aurora borealis prints appeared on items including dress-length cable knit men’s sweaters worn under jackets. Image courtesy of Vogue.</div>
                                        <div class="content-full">Inspired by Arctic surfing, a full house of them in this offbeat lineup, which matched with layering and a first-rate extensive color tone, from polar white to olive green. The wild sport prompted Humberto Leon to reflect cold-weather clothes through a balmy filter. The aurora borealis prints appeared on items including dress-length cable knit men’s sweaters worn under jackets. Image courtesy of Vogue.</div>
                                        <div class="see-more" data-blogimages=">1504672514.jpg>1504672410.jpg>1504672527.jpg>1504672479.jpg>1504672534.jpg>1504672489.jpg>1504672497.jpg>1504672505.jpg">See Details</div>
                                    </figcaption>
                                </figure>
                            </div>*@
                        @*
                            <script type="application/ld+json">
                                {
                                "context": "http://schema.org",
                                "type": "NewsArticle",
                                "headline": "Bottega Veneta | Blog | Plaza Indonesia ",
                                "alternativeHeadline": "Bottega Veneta | Plaza Indonesia",
                                "image": [
                                "./res/uploads/1504672786.jpg",
                                "./res/uploads/1504672794.jpg",
                                "./res/uploads/1504672801.jpg",
                                "./res/uploads/1504672757.jpg",
                                "./res/uploads/1504672770.jpg",
                                "./res/uploads/1504672779.jpg"
                                ],
                                "datePublished": "2017-09-01",
                                "description": "Bottega Veneta Menswear Fall/Winter 2017 Collection can be describe as low-key and infrequent, occasionally bundle up with bow ties. The menswear collection didn’t have that ’40s look that women&#039;s collection has. All in all it is a subtle elegance that embodies . Image courtesy of Vogue.",
                                "articleBody": "Bottega Veneta Menswear Fall/Winter 2017 Collection can be describe as low-key and infrequent, occasionally bundle up with bow ties. The menswear collection didn’t have that ’40s look that women&#039;s collection has. All in all it is a subtle elegance that embodies . Image courtesy of Vogue."
                                }
                            </script>*@
                        @*<div class="col-sm-3 col-xs-6">
                                <figure class="item" style="background-image:url('./res/uploads/1504672779.jpg');background-size:100% 100%;">
                                    <img class="img-responsive" src="./res/uploads/1504672779.jpg" alt="Bottega Veneta" style="opacity:0;">
                                    <figcaption class="item-desc-wrapper">
                                        <h1 class="title">Bottega Veneta</h1>
                                        <div class="content dot">Bottega Veneta Menswear Fall/Winter 2017 Collection can be describe as low-key and infrequent, occasionally bundle up with bow ties. The menswear collection didn’t have that ’40s look that women&#039;s collection has. All in all it is a subtle elegance that embodies . Image courtesy of Vogue.</div>
                                        <div class="content-full">Bottega Veneta Menswear Fall/Winter 2017 Collection can be describe as low-key and infrequent, occasionally bundle up with bow ties. The menswear collection didn’t have that ’40s look that women&#039;s collection has. All in all it is a subtle elegance that embodies . Image courtesy of Vogue.</div>
                                        <div class="see-more" data-blogimages=">1504672786.jpg>1504672794.jpg>1504672801.jpg>1504672757.jpg>1504672770.jpg>1504672779.jpg">See Details</div>
                                    </figcaption>
                                </figure>
                            </div>*@
                        @*
                            <script type="application/ld+json">
                                {
                                "context": "http://schema.org",
                                "type": "NewsArticle",
                                "headline": "Lanvin | Blog | Plaza Indonesia ",
                                "alternativeHeadline": "Lanvin | Plaza Indonesia",
                                "image": [
                                "./res/uploads/1504673309.jpg",
                                "./res/uploads/1504673322.jpg",
                                "./res/uploads/1504673335.jpg",
                                "./res/uploads/1504673266.jpg",
                                "./res/uploads/1504673349.jpg",
                                "./res/uploads/1504673281.jpg",
                                "./res/uploads/1504673287.jpg",
                                "./res/uploads/1504673300.jpg"
                                ],
                                "datePublished": "2017-09-01",
                                "description": "“There is nothing: no meaning, not collaboration, no print, no art, no vintage, no decoration. I really wanted the whole collection to be about cut, construction, and proportion—and in the beginning to take things from everyday life.” Lucas Ossendrijver said. The two lapels of gray plaid or check coats blended had an artistic angled, visible in their big black cape which resembled a look between a black leather jacket and cape. In addition to that, shoulders were sharp and structured, making a statement in every single look. Image courtesy of Vogue.",
                                "articleBody": "“There is nothing: no meaning, not collaboration, no print, no art, no vintage, no decoration. I really wanted the whole collection to be about cut, construction, and proportion—and in the beginning to take things from everyday life.” Lucas Ossendrijver said. The two lapels of gray plaid or check coats blended had an artistic angled, visible in their big black cape which resembled a look between a black leather jacket and cape. In addition to that, shoulders were sharp and structured, making a statement in every single look. Image courtesy of Vogue."
                                }
                            </script>*@
                        @*<div class="col-sm-3 col-xs-6">
                                <figure class="item" style="background-image:url('./res/uploads/1504673287.jpg');background-size:100% 100%;">
                                    <img class="img-responsive" src="./res/uploads/1504673287.jpg" alt="Lanvin" style="opacity:0;">
                                    <figcaption class="item-desc-wrapper">
                                        <h1 class="title">Lanvin</h1>
                                        <div class="content dot">“There is nothing: no meaning, not collaboration, no print, no art, no vintage, no decoration. I really wanted the whole collection to be about cut, construction, and proportion—and in the beginning to take things from everyday life.” Lucas Ossendrijver said. The two lapels of gray plaid or check coats blended had an artistic angled, visible in their big black cape which resembled a look between a black leather jacket and cape. In addition to that, shoulders were sharp and structured, making a statement in every single look. Image courtesy of Vogue.</div>
                                        <div class="content-full">“There is nothing: no meaning, not collaboration, no print, no art, no vintage, no decoration. I really wanted the whole collection to be about cut, construction, and proportion—and in the beginning to take things from everyday life.” Lucas Ossendrijver said. The two lapels of gray plaid or check coats blended had an artistic angled, visible in their big black cape which resembled a look between a black leather jacket and cape. In addition to that, shoulders were sharp and structured, making a statement in every single look. Image courtesy of Vogue.</div>
                                        <div class="see-more" data-blogimages=">1504673309.jpg>1504673322.jpg>1504673335.jpg>1504673266.jpg>1504673349.jpg>1504673281.jpg>1504673287.jpg>1504673300.jpg">See Details</div>
                                    </figcaption>
                                </figure>
                            </div>*@

                    </div>
                    <div class="blog-details-wrapper">
                        <div class="container">
                            <div class="common-close close-blog">
                                <span class="x-text">X</span>
                                <span class="close-text">Close</span>
                            </div>
                            <div class="blog-details">
                                <div class="blog-details-slider owl-carousel">
                                    <div class="item" data-src="./res/images/blog-1.jpg" style="background-size:100% 100%;">
                                        <img src="./res/images/blog-1.jpg" alt="Plaza Indonesia Blog" style="opacity:0;">
                                    </div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="title"></div>
                                    <div class="content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="popupModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-close" data-dismiss="modal"><span class="fa fa-close"></span></div>
                            <img class="modal-popup img-responsive" src="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/res/js/jquery-3.2.1.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/js/owl.carousel.min.js"></script>
    <script src="/res/js/jquery.dotdotdot.min.js"></script>
    <script src="/res/js/perfect-scrollbar.jquery.js"></script>
    <script src="/res/js/scripts.js"></script>
    <script src="/res/js/scripts-blog-archive.js"></script>
</body>
</html>
