﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="Plaza Indonesia,Mall Jakarta,Plaza Indonesia Restaurant,Things to do in jakarta,Restoran di Jakarta">
    <title>Plaza Indonesia</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/res/css/font-awesome.min.css">
    <link href="~/res/js/slick-1.8.0/slick/slick.css" rel="stylesheet" />
    <link href="~/res/js/swiper-4.0.7/dist/css/swiper.css" rel="stylesheet" />
    @*<link href="~/res/js/slick-1.8.0/slick/slick-theme.css" rel="stylesheet" />*@
    <link href="~/res/js/slick-1.8.0/slick/custom-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/res/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/res/css/style.css?v=1.5">
    <link href="~/res/css/passwordCheck.css" rel="stylesheet" />
    <link href="~/res/js/Parsley.js-2.8.0/src/parsley.css" rel="stylesheet" />
    <!-- <script src="~/res/js/countdown.min.js"></script> -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68255636-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body style="padding-top:100px">
    <div class="mobile-menu-header">
        <div class="container">
            <div class="mmenu menu-bar visible-xs"><span class="fa fa-bars"></span></div>
            <nav class="mobile-menu">
                <ul>
                    @*<li><a href="~/index.html#home">Home</a></li>*@
                    @*<li class="wo">
                            <a>What`s Happening</a>
                            <ul class="sub-menu">
                                <li><a href="#events">Event</a></li>
                                <li><a href="~/event-archive.html">Event Archive</a></li>
                                <li><a href="#promo">Promotion</a></li>
                                <li><a href="#now-open">Now Open</a></li>
                            </ul>
                        </li>
                        <li><a href="#highlights">Highlights Of The Month</a></li>
                        <li><a href="~/highlights-archive.html">Highlights Archive</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="~/blog-archive.html">Blog Archive</a></li>
                        <li><a href="#privilege">Shopping Privileges</a></li>
                        <li><a href="#directory">Directory</a></li>
                        <li><a href="#contact">Contact Us</a></li>*@
                </ul>
                <div class="social-logo">
                    <a target="_blank" href="https://twitter.com/plazaindonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-twitter"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-facebook"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-instagram"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-google-plus"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </nav>
            <div class="social-logo hidden-xs">
                <a target="_blank" href="https://twitter.com/plazaindonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-twitter"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-facebook"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-instagram"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-google-plus"></span>
                        </div>
                    </div>
                </a>
            </div>
            <a href="http://www.plazaindonesia.com"><img class="main-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg"></a>
        </div>
    </div>
    @RenderBody()
    <section id="footer">
        <div class="outer-footer">Copyright &copy;2017 Plaza Indonesia All Rights Reserved</div>
    </section>
    <script src="~/res/js/jquery-3.2.1.min.js"></script>
    <script src="~/res/js/bootstrap.min.js"></script>
    <script src="~/res/js/owl.carousel.min.js"></script>
    <script src="~/res/js/bootstrap-datepicker.min.js"></script>
    <script src="~/res/js/jquery.dotdotdot.min.js"></script>
    <script src="~/res/js/slick-1.8.0/slick/slick.min.js"></script>
    <script src="~/res/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/res/js/jquery.waypoints.min.js"></script>
    <script src="~/res/js/Parsley.js-2.8.0/dist/parsley.js"></script>
    @*<script src="~/res/js/scripts.js"></script>*@
    <script src="~/res/js/swiper-4.0.7/dist/js/swiper.min.js"></script>
    <script src="~/res/js/scripts-event.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
</body>
</html>
