﻿@using System.Globalization
@{

    CultureInfo ci = new CultureInfo("en-US");
    Layout = null;
    var BlogHead = (PIRShoppingMall.data.other_blog_data)ViewBag.BlogHead;
    var BlogItem = (List<PIRShoppingMall.data.blog>)ViewBag.BlogItem;
    string CompleteMonth = (String)ViewBag.Month;
    DateTime blogDateTime = BlogHead.blog_date;
    var prevMonth = blogDateTime.AddMonths(-1).ToString("MMMM");
    var nextMonth = blogDateTime.AddMonths(1).ToString("MMMM");
    var prevMonthYear = blogDateTime.AddMonths(-1).ToString("yyyy");
    var nextMonthYear = blogDateTime.AddMonths(1).ToString("yyyy");
    string blogDate = CompleteMonth + " " + blogDateTime.Year.ToString();
    var blogSlide = (List<PIRShoppingMall.data.blog_image>)ViewBag.blogSlider;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Plaza Indonesia</title>

    <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/res/css/font-awesome.min.css">
    <link rel="stylesheet" href="/res/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/res/css/style.css">
</head>
<body>
    <div id="main-wrapper">
        <div class="mobile-menu-header visible-xs">
            <div class="menu-bar visible-xs"><span class="fa fa-bars"></span></div>
            <nav class="mobile-menu">
                <ul>
                    <li><a href="@Url.Action(MVC.Index.Index())">Home</a></li>
                    <li class="wo">
                        <a>What`s Happening</a>
                        <ul class="sub-menu">
                            <li><a href="./index.html#events">Event</a></li>
                            <li><a href="@Url.Action("../Archive/Event/" + blogDateTime.ToString("yyyy") + "/" + blogDateTime.ToString("MMMM"))">Event Archive</a></li>
                            <li><a href="./index.html#promo">Promotion</a></li>
                            <li><a href="./index.html#now-open">Now Open</a></li>
                        </ul>
                    </li>
                    <li><a href="./index.html#highlights">Highlights Of The Month</a></li>
                    <li><a href="@Url.Action("../Archive/Highlights/" + blogDateTime.ToString("yyyy") + "/" + blogDateTime.ToString("MMMM"))">Highlights Archive</a></li>
                    <li><a href="./index.html#blog">Blog</a></li>
                    <li><a href="@Url.Action("../Archive/Blog/" + blogDateTime.ToString("yyyy") + "/" + blogDateTime.ToString("MMMM"))">Blog Archive</a></li>
                    <li><a href="./index.html#privilege">Shopping Privileges</a></li>
                    <li><a href="./index.html#directory">Directory</a></li>
                    <li><a href="./index.html#contact">Contact Us</a></li>
                </ul>
                <div class="social-logo">
                    <a target="_blank" href="https://twitter.com/plazaindonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-twitter"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-facebook"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-instagram"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-google-plus"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </nav>
            <div class="social-logo hidden-xs">
                <a target="_blank" href="https://twitter.com/plazaindonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-twitter"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-facebook"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-instagram"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-google-plus"></span>
                        </div>
                    </div>
                </a>
            </div>
            <img class="main-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg">
        </div>
        <section id="menu" class="hidden-xs">
            <img class="affix-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg">
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="@Url.Action(MVC.Index.Index())">Home</a></li>
                        <span class="separator">/</span>
                        <li class="wo">
                            <a href="./index.html#whats-happening">What's Happening</a>
                            <ul class="sub-menu bot">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="@Url.Action("../Archive/Event/" + blogDateTime.ToString("yyyy") + "/" + blogDateTime.ToString("MMMM"))">Event Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li>
                            <a href="./index.html#highlights">Highlights Of The Month</a>
                            <ul class="sub-menu bot highlights">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="@Url.Action("../Archive/Highlights/" + blogDateTime.ToString("yyyy") + "/" + blogDateTime.ToString("MMMM"))">Highlights Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li>
                            <a href="./index.html#blog">Blog</a>
                            <ul class="sub-menu bot blog">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="@Url.Action("../Archive/Blog/" + blogDateTime.ToString("yyyy") + "/" + blogDateTime.ToString("MMMM"))">Blog Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li><a href="./index.html#privilege">Shopping Privileges</a></li>
                        <span class="separator">/</span>
                        <li><a href="./index.html#directory">Directory</a></li>
                        <span class="separator">/</span>
                        <li><a href="./index.html#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="archive" id="blog">
            <div class="event-wrapper">
                <div class="section-header">
                    <div class="container">
                        <div class="title">Blog</div>
                        <div class="title-desc">@blogDate</div>
                        <div class="month-nav">
                            <div class="container">
                                <div class="col-xs-6 navigate prev">
                                    <a href="@Url.Action("/Blog/" + prevMonthYear + "/" + prevMonth)"> <span class="fa fa-angle-double-left"></span> previous month</a>
                                </div>
                                <div class="col-xs-6 navigate next">
                                    @if (blogDateTime.Month >= DateTime.Now.Month && blogDateTime.Year == DateTime.Now.Year)
                                    {
                                        /**/
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("/Blog/" + nextMonthYear + "/" + nextMonth)">next month <span class="fa fa-angle-double-right"></span> </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <!--
                        Kurang lebih sama seperti cara loop item-item pada Blog Content pada index.html
                        Element HTML yang di-loop adalah sebesar "Blog Archive Carousel item Container".
                    -->



                    <div class="blog-slider row">
                        @if (BlogItem.Count() > 0)
                        {
                            foreach (var item in BlogItem)
                            {
                                <div class="col-sm-3 col-xs-6">
                                    <figure class="item" style="background-image:url('@item.image.image_image');background-size:100% 100%;">
                                        <img class="img-responsive" src="@item.image.image_image" alt="Calvin Klein" style="opacity:0;">
                                        <figcaption class="item-desc-wrapper">
                                            <h1 class="title">@item.blog_title</h1>
                                            <div class="content dot">@item.blog_desc</div>
                                            <div class="content-full">@item.blog_desc</div>
                                            @{
                                                var BlogimageList = blogSlide.Where(x => x.blog_id == item.blog_id);
                                                string urlCollection = ">";
                                                foreach (var items in BlogimageList)
                                                {
                                                    urlCollection += items.image.image_image + ">";
                                                }
                                                urlCollection = urlCollection.Remove(urlCollection.Length - 1);
                                            }
                                            <div class="see-more" data-blogimages="@urlCollection">See Details</div>
                                        </figcaption>
                                    </figure>
                                </div>
                                                    }

                                                }
                                                else
                                                {
                                                    <div class="col-sm-3 col-xs-6">
                                                        
                                                        <p>No content found, please select a different month</p>
                                                        
                                                    </div>
                                                }


                    </div>

                    <div class="blog-details-wrapper">
                        <div class="container">
                            <div class="common-close close-blog">
                                <span class="x-text">X</span>
                                <span class="close-text">Close</span>
                            </div>
                            <div class="blog-details">
                                <div class="blog-details-slider owl-carousel">
                                    <div class="item" data-src="./res/images/blog-1.jpg" style="background-size:100% 100%;">
                                        <img src="./res/images/blog-1.jpg" alt="Plaza Indonesia Blog" style="opacity:0;">
                                    </div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="title"></div>
                                    <div class="content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="popupModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-close" data-dismiss="modal"><span class="fa fa-close"></span></div>
                            <img class="modal-popup img-responsive" src="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/res/js/jquery-3.2.1.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/js/owl.carousel.min.js"></script>
    <script src="/res/js/jquery.dotdotdot.min.js"></script>
    <script src="/res/js/perfect-scrollbar.jquery.js"></script>
    <script src="/res/js/blogmenu.js"></script>
    <script src="/res/js/scripts-blog-archive.js"></script>
</body>
</html>
