﻿
@{

    Layout = null;
    var highlightsData = (PIRShoppingMall.data.newsletter)ViewBag.HighLigthsData;
    var imgList = (List<string>)ViewBag.HighLigthsliderPath;
    string currentMonth = highlightsData.newsletter_date.ToString("MMMM");
    string currentYear = highlightsData.newsletter_date.Year.ToString();
    string nextMonth = highlightsData.newsletter_date.AddMonths(1).ToString("MMMM");
    string nextMonthYear = highlightsData.newsletter_date.AddMonths(1).ToString("yyyy");
    string prevMonth = highlightsData.newsletter_date.AddMonths(-1).ToString("MMMM");
    string prevMonthYear = highlightsData.newsletter_date.AddMonths(-1).ToString("yyyy");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Plaza Indonesia</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/res/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/res/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/res/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/res/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/res/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/res/css/style.css">
</head>
<body>
    <div id="main-wrapper">
        <div class="mobile-menu-header visible-xs">
            <div class="menu-bar visible-xs"><span class="fa fa-bars"></span></div>
            <nav class="mobile-menu">
                <ul>
                    <li><a href="@Url.Action(MVC.Index.Index())">Home</a></li>
                    <li class="wo">
                        <a>What`s Happening</a>
                        <ul class="sub-menu">
                            <li><a href="~/index.html/#events">Event</a></li>
                            <li><a href="@Url.Action("../Archive/Event/" + currentYear + "/" + currentMonth)">Event Archive</a></li>
                            <li><a href="~/index.html/#promo">Promotion</a></li>
                            <li><a href="~/index.html/#now-open">Now Open</a></li>
                        </ul>
                    </li>
                    <li><a href="~/index.html/#highlights">Highlights Of The Month</a></li>
                    <li><a href="@Url.Action("../Archive/Highlights/" + currentYear + "/" + currentMonth)">Highlights Archive</a></li>
                    <li><a href="~/index.html/#blog">Blog</a></li>
                    <li><a href="@Url.Action("../Archive/Blog/" + currentYear + "/" + currentMonth)">Blog Archive</a></li>
                    <li><a href="~/index.html/#privilege">Shopping Privileges</a></li>
                    <li><a href="~/index.html/#directory">Directory</a></li>
                    <li><a href="~/index.html/#contact">Contact Us</a></li>
                </ul>
                <div class="social-logo">
                    <a target="_blank" href="https://twitter.com/plazaindonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-twitter"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-facebook"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-instagram"></span>
                            </div>
                        </div>
                    </a>
                    <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                        <div class="item">
                            <div class="outer-wrapper">
                                <span class="fa fa-google-plus"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </nav>
            <div class="social-logo hidden-xs">
                <a target="_blank" href="https://twitter.com/plazaindonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-twitter"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://www.facebook.com/PlazaIndonesia">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-facebook"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://instagram.com/plaza_indonesia/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-instagram"></span>
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://plus.google.com/110195465192502798208/">
                    <div class="item">
                        <div class="outer-wrapper">
                            <span class="fa fa-google-plus"></span>
                        </div>
                    </div>
                </a>
            </div>
            <img class="main-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg">
        </div>
        <section id="menu" class="hidden-xs">
            <img class="affix-logo" alt="Plaza Indonesia Logo" src="~/res/images/plaza_indonesia.svg">
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="@Url.Action(MVC.Index.Index())">Home</a></li>
                        <span class="separator">/</span>
                        <li class="wo">
                            <a href="~/index.html/#whats-happening">What's Happening</a>
                            <ul class="sub-menu bot">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="@Url.Action("../Archive/Event/" + currentYear + "/" + currentMonth)">Event Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li>
                            <a href="~/index.html/#highlights">Highlights Of The Month</a>
                            <ul class="sub-menu bot highlights">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="@Url.Action("../Archive/Highlights/" + currentYear + "/" + currentMonth)">Highlights Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li>
                            <a href="~/index.html/#blog">Blog</a>
                            <ul class="sub-menu bot blog">
                                <span class="double fa fa-caret-up"></span>
                                <span class="fa fa-caret-up"></span>
                                <span class="double fa fa-caret-down"></span>
                                <span class="fa fa-caret-down"></span>
                                <li><a href="@Url.Action("../Archive/Blog/" + currentYear + "/" + currentMonth)">Blog Archive</a></li>
                            </ul>
                        </li>
                        <span class="separator">/</span>
                        <li><a href="~/index.html/#privilege">Shopping Privileges</a></li>
                        <span class="separator">/</span>
                        <li><a href="~/index.html/#directory">Directory</a></li>
                        <span class="separator">/</span>
                        <li><a href="~/index.html/#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="archive" id="highlights">
            <div class="highlights-wrapper">
                <div class="section-header">
                    <div class="container">
                        <div class="title">Highlights of The Month</div>
                        <div class="title-desc">@currentMonth @currentYear</div>
                        <div class="month-nav">
                            <div class="container">
                                <div class="col-xs-6 navigate prev">
                                    <a href="@Url.Action("../Archive/Highlights/" + prevMonthYear + "/" + prevMonth)"> <span class="fa fa-angle-double-left"></span> previous month</a>
                                </div>
                                <div class="col-xs-6 navigate next">
                                    @if (highlightsData.newsletter_date.Month >= DateTime.Now.Month && highlightsData.newsletter_date.Year == DateTime.Now.Year)
                                    {
                                        /**/
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("../Archive/Highlights/" + nextMonthYear + "/" + nextMonth)">next month <span class="fa fa-angle-double-right"></span> </a>
                                    }
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        @if (highlightsData.newsletter_id != 0)
                        {
                        <div class="col-xs-12">
                            <div class="highlights-slider owl-carousel">
                                @*<div class="item" style="background-image:url('~/res/uploads/1505120230.jpg');background-size:100% 100%;"><img src="~/res/uploads/1505120230.jpg" alt="Highlights of The Month Top" style="opacity:0;" /></div>*@
                                @foreach (var item in imgList)
                                {
                                    <div class="item" style="background-image:url('@item');background-size:100% 100%;">
                                        <img src="@item" alt="Highlights of The Month Top" style="opacity:0;" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="container">
                            <div class="row row-same-height no-gutter clean-row">
                                <div class="col-md-7 col-md-height col-top hotm-left">
                                    <figure class="hotm-1">
                                        <img class="img-responsive" src="@highlightsData.newsletter_second_image">
                                        <figcaption class="descriptions">
                                            <div class="floater">
                                                <div class="title">@highlightsData.newsletter_second_title</div>
                                                <div class="desc">@highlightsData.newsletter_second_desc</div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <figure class="hotm-2">
                                        <img class="img-responsive" src="@highlightsData.newsletter_third_image">
                                    </figure>
                                </div>
                                <div class="col-md-5 col-md-height col-top hotm-right">
                                    <figure class="hotm-3">
                                        <img class="img-responsive" src="@highlightsData.newsletter_fourth_image">
                                        <figcaption class="descriptions">
                                            <div class="title"></div>
                                            <div class="desc">@highlightsData.newsletter_fourth_desc</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 hotm-bottom">
                            <figure>
                                <img class="img-responsive" src="@highlightsData.newsletter_first_image">
                            </figure>
                        </div>
                        }
                        else
                        {
                            <div class="col-sm-3 col-xs-6">
                                <br />
                                <p>No content found, please select a different month</p>
                                
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/res/js/jquery-3.2.1.min.js"></script>
    <script src="~/res/js/bootstrap.min.js"></script>
    <script src="~/res/js/owl.carousel.min.js"></script>
    <script src="~/res/js/jquery.dotdotdot.min.js"></script>
    <script src="~/res/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/res/js/highlightmenu.js"></script>
    <script src="~/res/js/scripts-highlights-archive.js"></script>
</body>
</html>