﻿@model PIRShoppingMall.data.banner
@{
    var imagelist = (List<PIRShoppingMall.data.image>)ViewBag.imageList;
    ViewBag.Title = "Banner | AddEdit";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
    string buttonType = string.Empty;
    string bannertype = (string)ViewBag.bannertype;
    List<string> ListMiniGallery = new List<string>();
    if (!string.IsNullOrEmpty(Model.miniGalleryImg))
    {
        ListMiniGallery = Model.miniGalleryImg.Split(';').ToList();

        for (int i = 0; i < ListMiniGallery.Count - 1; i++)
        {
            if (string.IsNullOrEmpty(ListMiniGallery[i]))
            {
                ListMiniGallery.RemoveAt(i);
            }
        }
    }
    if (Model.banner_id != 0)
    {
        buttonType = "Save";

        ViewBag.Title = "Plaza Indonesia | Banner | Add Banner";
    }
    else
    {

        ViewBag.Title = "Plaza Indonesia | Banner | Edit Banner";
        buttonType = "Submit";
    }
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var bannertype = $("#bannerType").val();
        var bannerStat = $("#bannerStatus").val();
        $("#banStat").val(bannerStat);
        $(".imgBanner").imgCheckbox({
            radio: true,
            onload: function () {
                //enter onLoad event if status is edit
                if ($("#bannerId").val() != 0) {
                    if (bannertype != "yt") {
                        var imageNumber = $("#imageId").val();
                        var state = $("img[name='" + imageNumber + "']")
                        state.parent().addClass("imgChked");
                    }
                    else {
                        $(".imgBanner").removeClass("imgChked");
                    }

                }
            },
            onclick: function (el) {
                var isChecked = el.hasClass("imgChked");
                var imageid = el.children()[0].name
                $("#imageId").val(imageid);
            }

        });
        $(".imgBreakdown").imgCheckbox({
            radio: true,
            onload: function () {
                if ($("#bannerId").val() != 0) {
                    if (bannertype != "yt") {
                        var imageNumber = $("#extendImage").val();
                        var state = $("img[name='" + imageNumber + "']")
                        state.parent().addClass("imgChked");
                    }
                    else {
                        $(".imgBreakdown").removeClass("imgChked");
                    }
                }
                //enter onLoad event if status is edit
                //if ($("#bannerId").val() != 0) {
                //    if (bannertype != "yt") {
                //        var imageNumber = $("#imageId").val();
                //        var state = $("img[name='" + imageNumber + "']")
                //        state.parent().addClass("imgChked");
                //    }
                //    else {
                //        $("img").removeClass("imgChked");
                //    }

                //}
            },
            onclick: function (el) {
                var isChecked = el.hasClass("imgChked");
                var imageid = el.children()[0].name
                $("#extendImage").val(imageid);
                //$("#imageId").val(imageid);
            }

        });
        $(".imgMiniGallery").imgCheckbox({
            onclick: function (el) {
                @{ 
                    string stringHeader = System.Configuration.ConfigurationManager.AppSettings["SiteURL"].ToString();
                }
                var isChecked = el.hasClass("imgChked");
                if (isChecked) {
                    var imageid = el.children()[0].name
                    var container = $("#miniGalleryContainer");
                    container.append(" <input type='text' style='display:none' class='form-control' name='MiniGallery' value='" + imageid + "'/>");
                }
                else {
                    var imageid = el.children()[0].name
                    var isExist = $("input[value*='" + imageid + "']")
                    if (isExist.length > 0) {
                        isExist.remove();
                    }
                }
            },
            onload: function () {
                @{
                    var MiniList = @Html.Raw(Json.Encode(ListMiniGallery));
                }
                var arrImg = JSON.parse('@MiniList');
                for (var i = 0; i < arrImg.length; i++) {
                    var state = $("img.imgMiniGallery[name='" + arrImg[i] + "']")
                                state.parent().addClass("imgChked");
                                var container = $("#miniGalleryContainer");
                                container.append(" <input type='text' style='display:none' class='form-control' name='MiniGallery' value='" + arrImg[i] + "'/>");
                            }
                        }
                    })
        $("#buttonImage").click(function () {
            $("#imglist").fadeIn();
            $("#divYt").fadeOut();
            $("#bannerType").val("image");
                    })
        $("#buttonYoutube").click(function () {
            $("#divYt").fadeIn();
            $("#imglist").fadeOut();

            $("#bannerType").val("yt");
                    })
        if ($("#bannerId").val() == 0) {
            $("#buttonImage").click();
            $("#buttonImage").addClass("active");
            $("#bannerType").val("image");
                }
        if (bannertype == "yt") {
            $("#buttonYoutube").click();
            $("#buttonYoutube").addClass("active");
        }
        if (bannertype == "image") {
            $("#buttonImage").click();
            $("#buttonImage").addClass("active");
        }
        $("#chkBreak").change(function () {
                    if (this.checked) {
                $("#divExtend").fadeIn();
                        }
            else {
                $("#divExtend").fadeOut();
                        }
                        });
                    if ($("#chkBreak:checkbox:checked").length > 0) {
            $("#divExtend").fadeIn();
                    }
        else {
            $("#divExtend").fadeOut();
                    }

        $('#descExtend').summernote({
                        height: 300,
            minHeight: 300,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['arial']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        });
        setTimeout(function () {
            $('#descExtend').summernote('destroy');
            $('#descExtend').summernote({
                        height: 300,
                minHeight: 300,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['arial']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]
            });
        },1000)

    })
</script>
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Management.Dashboard.LandingPage())">Home</a></li>
        <li><a href="@Url.Action(MVC.Management.Banner.List())">Banner List</a></li>
        @if (Model.banner_id != 0)
        {
            <li class="active">Edit Banner</li>
        }
        else
        {
            <li class="active">Add Banner</li>
        }

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    @if (Model.banner_id != 0)
    {
        <h1 class="page-header">Edit Banner</h1>
    }
    else
    {
        <h1 class="page-header">Add Banner</h1>
    }
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    <div class="control-group" style="margin-bottom:10px !important">
                        <label class="col-md-5 control-label"></label>
                        <button id="buttonImage" type="button" class="btn btn-default">Image</button> or <button type="button" class="btn btn-default" id="buttonYoutube">Youtube Video</button>
                    </div>
                    <div class="control-group" style="display:block;" id="imglist">
                        <label class="col-md-2 control-label" style="text-align:right!important">Image</label>
                        <div class="controls">
                            <div class="col-md-10 control-group" style="min-height:145px;max-height:254px;overflow-y:auto;margin-bottom:10px!important">
                                @foreach (var item in imagelist)
                                {
                                    <img src="@item.image_image" class="imgBanner" style="display: block;max-width:230px;max-height:95px;width: auto;height: auto;" name="@item.image_id" />

                                }
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm(MVC.Management.Banner.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormAddArticle" }))
                    {

                        <div class="form-group" style="display:none" id="divYt">
                            <label class="col-md-2 control-label" style="text-align:right!important">Youtube</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.banner_youtube, new { @class = "form-control", placeholder = "Banner Youtube" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:3px">
                            <label class="col-md-2 control-label" style="text-align:right!important">URL</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.banner_link, new { @class = "form-control", placeholder = "Banner URL" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:3px">
                            <label class="col-md-2 control-label" style="text-align:right!important">Redirect To Versatile</label>
                            <div class="col-md-1">
                                @Html.CheckBoxFor(x => x.isExtend, new { @class = "form-control", @id = "chkBreak" })
                            </div>
                        </div>
                        <div id="divExtend" style="display:none">
                            <div class="form-group" style="margin-top:3px">
                                <label class="col-md-2 control-label" style="text-align:right!important">Breakdown Title</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(x => x.extend_title, new { @class = "form-control", placeholder = "Banner Title Breakdown" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:3px">
                                <label class="col-md-2 control-label" style="text-align:right!important">Breakdown Description</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(x => x.extend_description, new { @class = "form-control", placeholder = "Banner Description Breakdown", @id = "descExtend" })
                                </div>
                            </div>
                            <div class="control-group" style="display:block;" id="imglist">
                                <label class="col-md-2 control-label" style="text-align:right!important">Image Breakdown</label>
                                <div class="controls">
                                    <div class="col-md-10 control-group" style="min-height:145px;max-height:254px;overflow-y:auto;margin-bottom:10px!important">
                                        @foreach (var item in imagelist)
                                        {
                                            <img src="@item.image_image" class="imgBreakdown" style="display: block;max-width:230px;max-height:95px;width: auto;height: auto;" name="@item.image_id" />

                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="control-group" style="display:block;" id="miniGall">
                                <label class="col-md-2 control-label" style="text-align:right!important">Image Mini Gallery</label>
                                <div class="controls">
                                    <div class="col-md-10 control-group" style="min-height:145px;max-height:254px;overflow-y:auto;margin-bottom:10px!important">
                                        @foreach (var item in imagelist)
                                        {
                                            <img src="@item.image_image" class="imgMiniGallery" style="display: block;max-width:230px;max-height:95px;width: auto;height: auto;" name="@item.image_id" />

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:3px">
                            <label class="col-md-2 control-label" style="text-align:right!important">Sort</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.banner_sort, new { @class = "form-control required", placeholder = "Banner Sort" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:3px">
                            <label class="col-md-2 control-label" style="text-align:right!important">Status</label>
                            <div class="col-md-9">
                                <select name="status" class="form-control" id="banStat">
                                    <option value="1">Enable</option>
                                    <option value="0">Disable</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-sm btn-success" onclick="return(false)">@buttonType</button>
                                <a href="@Url.Action(MVC.Management.Banner.List())"> <button type="button" class="btn btn-sm btn-success">Close</button> </a>
                            </div>
                        </div>
                        <div id="miniGalleryContainer">
                        </div>
                        @Html.HiddenFor(x => x.banner_id, new { @id = "bannerId" });
                        @Html.HiddenFor(x => x.image_id, new { @id = "imageId" });
                        @Html.Hidden("bannerType", @bannertype, new { @id = "bannerType" });
                        @Html.HiddenFor(x => x.status, new { @id = "bannerStatus" });
                        @Html.HiddenFor(x => x.extend_image, new { @id = "extendImage" });
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>
<!-- end #content -->
